{% extends "wagtailredirects/add.html" %}

{% block extra_css %}
    {{ block.super }}
    <style>
    .field-content:has(#id_old_path) .help {
      color: red;
    }
    .field-content:has(#id_old_path) .help a {
      color: red;
      font-weight: bold;
    }
    .field-content:has(#id_old_path) .help a:hover {
      color: gray;
    }
    </style>
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    <script>
    window.addEventListener("load", () => {
      const oldPath = document.querySelector(".field-content:has(#id_old_path)");

      if (oldPath) {
          const help = document.createElement("p");
          help.setAttribute("class", "help");
          help.innerHTML = 'A relative path to redirect from e.g. "/en/youth". See the <a href="https://docs.wagtail.io/en/stable/editor_manual/managing_redirects.html">Wagtail Guide</a> for more details.';
          oldPath.appendChild(help);
      }
    });
    </script>
{% endblock %}
