{% extends "django_comments_xtd/base.html" %}
{% load i18n  static%}
{% load comments_xtd %}
{% block title %}{% trans "Flag comment" %}{% endblock %}
{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/report-page/report-page.css' %}">
{% endblock extra_css %}
{% block comment_content %}

<section class='report-page'>
  <h3>{% trans "Flag this comment?" %}</h3>
  <p >{% trans "Click on the flag button to mark the following comment as inappropriate." %}</p>
  <p class='report-page__comment'>{{ comment.comment }}</p>
  {% with object_absolute_url=comment.content_object.get_absolute_url %}
  {% if object_absolute_url %}
  <p>
    {% trans "Posted to "%}&nbsp;<a href="{{ object_absolute_url }}">{{ comment.content_object }}</a>
  </p>
  {% endif %}
  {% endwith %}
  <form action="." method="post">{% csrf_token %}
    <input type="hidden" name="next" value="{{ comment.get_absolute_url }}"/>
    <input type="submit" name="submit" class='report-page__submit'  value="{% trans "Flag" %}"/>
    <a href="{{ comment.get_absolute_url }}">{% trans "cancel" %}</a>
  </form>
</section>
{% endblock %}
