{% extends "django_comments_xtd/base.html" %}
{% load i18n static%}
{% load comments_xtd %}
{% block title %}{% translate "Report this comment?" %}{% endblock %}
{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/report-page/report-page.css' %}">
{% endblock extra_css %}
{% block comment_content %}

<section class='report-page'>
  <h3>{% translate "Report this comment?" %}</h3>
  <p class='report-page__comment'>{{ comment.comment }}</p>
{#  {% with object_absolute_url=comment.content_object.get_absolute_url %}  #}
{#  {% if object_absolute_url %}  #}
{#  <p>{% translate "Posted to "%}&nbsp;<a href="{{ object_absolute_url }}">{{ comment.content_object }}</a></p> #}
{#  {% endif %}  #}
{#  {% endwith %}  #}
  <hr/>
  <p>{% translate "It will be reviewed by the team and may be removed if it breaks our Platform Rules" %}</p>
  <form action="." method="post">{% csrf_token %}
    <input type="hidden" name="next" value="{{ comment.get_absolute_url }}"/>
    <input type="submit" name="submit" class='report-page__submit'  value="{% translate "Report" %}"/>
    <a href="{{ comment.get_absolute_url }}">{% translate "Cancel" %}</a>
  </form>
</section>
{% endblock %}
