{% load i18n %}
{% load comments %}

<form method="POST" class="reply-form" onsubmit="post.disabled = true; return true;">
    {% csrf_token %}
    <fieldset class='comments__holder'>
        <input type="hidden" name="next" value="{% spaceless %}{% if form.is_admin %}{% url 'comment_reply_view' comment_pk=comment.pk %}{% else %}{% url 'comments-xtd-sent' %}{% endif %}{% endspaceless %}"/>

        <div class="alert alert-danger" data-comment-element="errors" hidden>
        </div>

        {% for field in form %}
            {% if field.is_hidden %}
                <div>
                    {% if field.name == 'name' %}
                        <input type="hidden" name="name" value="{{ request.user.get_display_name }}" />
                    {% else %}
                        {{ field }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <div style="display:none">{{ form.honeypot }}</div>
        <div class="row form-group {% if 'comment' in form.errors %}has-danger{% endif %}">
            <div class="offset-md-1 col-md-10">
                <textarea name="comment" placeholder="Your comment" class="form-control" id="id_comment"
                          >{{ request.GET.canned_response }}</textarea>
                {% for error in form.comment.errors %}
                    <div class="alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>



    <div class="row form-group">
            <div class="offset-md-3 col-md-7">
                <div class="custom-control custom-checkbox">
                    {{ form.post_anonymously }} {{ form.post_anonymously.label }}
                </div>
            </div>
        </div>

        {% if request.user.is_authenticated and perms.django_comments_xtd.can_moderate %}
            <div class="row form-group">
                <div class="col-md-7">
                    {{ form.canned_responses }}
                </div>
            </div>
        {% endif %}
        <div class="row form-group">
            <div class="offset-md-3 col-md-7">
                <div class="custom-control custom-checkbox">
                    {{ form.followup }}
                </div>
            </div>
        </div>

    </fieldset>

    <div class='comments__input-holder'>
        {% if perms.django_comments_xtd.can_moderate %}
        <div class="comments__submit">
            <input type="submit" class="reply-comment" formaction="{% url 'process_canned_response' %}#id_comment" name="post" value="{% translate 'Add Canned Response' %}" id="id_add_canned_response"/>
        </div>
        {% endif %}
        <div class="comments__submit">
            <input type="submit" class="reply-comment" formaction="{% comment_form_target %}" name="post" value="{% translate 'Leave comment' %}" id="id_leave_comment"/>
        </div>
    </div>
</form>
