{% load i18n %}
{% load comments %}

<form method="POST" class="reply-form" action="{% comment_form_target %}" onsubmit="post.disabled = true; return true;">
    {% csrf_token %}
    <fieldset class='comments__holder'>
        <input type="hidden" name="next" value="{% spaceless %}{% if form.is_admin %}{% url 'comment_reply_view' comment_pk=comment.pk %}{% else %}{% url 'comments-xtd-sent' %}{% endif %}{% endspaceless %}"/>

        <div class="alert alert-danger" data-comment-element="errors" hidden>
        </div>

        {% for field in form %}
            {% if field.is_hidden %}
                <div>
                    {% if field.name == 'name' %}
                        <input type="hidden" name="name" value="{{ request.user.display_name }}" />
                    {% else %}
                        {{ field }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <div style="display:none">{{ form.honeypot }}</div>
        <div class="row form-group {% if 'comment' in form.errors %}has-danger{% endif %}">
            <div class="offset-md-1 col-md-10">
                {{ form.comment }}
                {% for error in form.comment.errors %}
                    <div class="alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>


        {% if not request.user.is_authenticated or not request.user.email %}
            <div class="row form-group {% if 'email' in form.errors %}has-danger{% endif %}">
                <label for="id_email" class="col-form-label col-md-3 text-right">
                    {#                {{ form.email.label }}#}
                </label>
                <div class="col-md-7">
                    {{ form.email }}
                    {% for error in email.errors %}
                        <div class="alert alert-danger">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                    {#                <span class="form-text small">{{ form.email.help_text }}</span>#}
                </div>
            </div>
        {% endif %}

    <div class="row form-group">
            <div class="offset-md-3 col-md-7">
                <div class="custom-control custom-checkbox">
                    {{ form.post_anonymously }} {{ form.post_anonymously.label }}
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="offset-md-3 col-md-7">
                <div class="custom-control custom-checkbox">
                    {{ form.followup }}
                </div>
            </div>
        </div>

    </fieldset>


    <div class='comments__input-holder'>
        <div class="comments__submit">
            <input type="submit" class="reply-comment" name="post" value="{% translate 'Leave comment' %}"/>
        </div>
    </div>
</form>
