{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags comments comments_xtd  wagtailuserbar menu_tags  home_tags questionnaires_tags sass_tags i18n %}

{% block content %}
    <h1>{% translate 'Comment Moderation' %}</h1>
    <form action="" method="get">
        <div class="comment-moderation-field-wrapper">
            {% for field in form %}
                <div>
                    <label>
                        {{ field.label }}
                    </label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <div class="comment-moderation-button">
            <button type="submit">{% translate 'Apply' %}</button>
        </div>
    </form>
    {% if comments %}
        <table class="comment-moderation-table">
            <thead>
                <tr>
                    <th>{% translate 'Comments' %}</th>
                    <th class="width-32">{% translate 'Actions' %}</th>
                </tr>
            </thead>
            {% for comment in comments %}
                <tr>
                    <td class="comment-moderation-comment">
                        {{ comment.comment }}
                    </td>
                    <td class="width-32">
                        {% if comment.is_public %}
                            <a href={% url 'wagtail_comments_xtd_publication' comment_pk=comment.id action='unpublish' %}>{% translate 'Unpublish' %}</a>
                        {% else %}
                            <a href={% url 'wagtail_comments_xtd_publication' comment_pk=comment.id action='publish' %}>{% translate 'Publish' %}</a>
                        {% endif %}
                        {% if comment.is_removed %}
                            <a href={% url 'wagtail_comments_xtd_publication' comment_pk=comment.id action='show' %}>{% translate 'Show' %}</a>
                        {% else %}
                            <a href={% url 'wagtail_comments_xtd_publication' comment_pk=comment.id action='hide' %}>{% translate 'Hide' %}</a>
                        {% endif %}
                        {% if comment.num_flags %}
                            <a href={% url 'wagtail_comments_xtd_publication' comment_pk=comment.id action='clear_flags' %}>{% translate 'Clear Flags' %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
            <div class="pagination comment-moderator-pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a class="comment-moderation previous-btn" href="?{{ params }}&page={{ page_obj.previous_page_number }}">{% translate 'Previous' %}</a>
                        <span></span>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <span></span>
                        <a class="comment-moderation next-btn" href="?{{ params }}&page={{ page_obj.next_page_number }}">{% translate 'Next' %}</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <div>{% translate 'No comments found.' %}</div>
    {% endif %}
{% endblock content %}
