{% load static wagtailcore_tags wagtailimages_tags %}

    <div class="articles-list">
        <div class="container articles-list__container">

            {% for article in articles %}
            <a href="{% pageurl article %}" class="articles-list__item">
                <div class="articles-list__item-content">
                    <div class="articles-list__item-header articles-list__item-header--red">
                        <p class="articles-list__item-tag">{{ article.category }}</p>
                        <span class="articles-list__item-comment">{{ article.comments | length }}</span>
                    </div>
                    <div class="articles-list__item-text">
                        <p>{{ article.title }}</p>
                    </div>
                </div>
                <div class="articles-list__item-img">
                    {% image article.specific.lead_image original %}
                </div>
            </a>
            {% endfor %}

        </div>
    </div>
