{% load home_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

<section class='related-articles'>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{% pageurl article %}">
                    <p> {{ article.title }}</p>
                    <p> {{ article.specific.index_page_description }}</p>
                    <div class="overlay-holder {% render_is_content_completed article %}">
                        {% image article.specific.lead_image width-320 class='article__lead-img' %}
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
