{% load static wagtailcore_tags wagtailimages_tags i18n %}

<section class='banner-holder'>
    {% for banner in banners %}
        <div>
            {% if banner.banner_link_page %}
                <a href="{% pageurl banner.banner_link_page %}">
            {% elif banner.external_link %}
                <a href="{{ banner.external_link }}" target="_blank">
            {% else %}
                <a href="#">
            {% endif %}
            {% image banner.banner_image width-360 as banner_img %}
            {% if banner_img %}
                <img src="{{ banner_img.url }}">
            {% endif %}
            </a>
        </div>
    {% endfor %}
</section>
