{% load home_tags %}
{% load generic_components %}
{% load static wagtailcore_tags i18n %}

{% block content %}
    <section class='child-pages'>
        {% for page in pages %}
            {% is_first_content forloop.counter0 as is_first_content %}
            {% if page.get_type == 'section' %}
                {% include 'home/tags/section_card.html' with page=page is_first_content=is_first_content %}
            {% elif page.get_type == 'article' %}
                {% render_article_card page=page is_first_content=is_first_content background_color=page.get_parent.specific.background_color font_color=page.get_parent.specific.font_color %}
            {% elif page.get_type == 'poll' or page.get_type == 'survey' or page.get_type == 'quiz' %}
                {% include 'questionnaires/tags/questionnaire_wrapper.html' with page=page direct_display=page.direct_display %}
            {% endif %}
        {% endfor %}
    </section>
{% endblock content %}
