{% load comment_tags %}
{% load static wagtailcore_tags wagtailimages_tags i18n generic_components image_tags comments_xtd %}

<footer class="bottom-level">
    <nav>
        {% for footer in footers %}
            {% primary_button title=footer.get_title href=footer.url icon=footer.get_icon %}
        {% endfor %}
        {% if request.user.is_anonymous %}
            {% url 'account_login' as login_url %}
            {% primary_button title='Log in / Create account' href=login_url icon_path='icons/login.svg' extra_classnames='login-create-account-btn' %}
        {% else %}
            {% comments_moderation_button %}

            {% url 'user_profile' as profile_url %}
            {% primary_button title='Profile' href=profile_url icon_path='icons/profile.svg' %}

            {% url 'account_logout' as logout_url %}
            {% primary_button title='Log out' href=logout_url icon_path='icons/arrow_icon_left.svg' extra_classnames='logout-btn' %}
        {% endif %}
    </nav>
</footer>
