{% load static wagtailcore_tags wagtailimages_tags %}
<footer class="footer">
    <nav>
        {% for block in footer.navigation %}
        <div class="links">
            <span>{{block.value.title}}</span>
            {% for link in block.value.links %}
            <a href="{% pageurl link.value %}">{{link.value.title}}</a>
            {% endfor %}
        </div>
        {% endfor %}
    </nav>

    <div class="copyright">
        <div class="logo">
            {% for block in footer.logos %}
            {% image block.value width-150 %}
            {% endfor %}
        </div>
        <div class="links">
            {% for block in footer.essential %}
            <a href="{% pageurl block.value %}">{{block.value.title}}</a>
            {% endfor %}
        </div>
    </div>

</footer>
