{% load static wagtailcore_tags wagtailimages_tags %}

{% if width == 360 %}
    {% image image width-360 class=class %}
{% elif width == 180 %}
    {% image image width-180 class=class %}
{% elif width == 430 %}
    {% image image width-430 class=class %}
{% elif width == 215 %}
    {% image image width-215 class=class %}
{% elif width == 533 %}
    {% image image width-533 class=class %}
{% elif width == 266 %}
    {% image image width-266 class=class %}
{% elif width == 800 %}
    {% image image width-800 class=class %}
{% elif width == 400 %}
    {% image image width-400 class=class %}
{% elif width == 1080 %}
    {% image image width-1080 class=class %}
{% elif width == 540 %}
    {% image image width-1080 class=class %}
{% elif width == 1600 %}
    {% image image width-1600 class=class %}
{% endif %}
