{% load wagtailcore_tags i18n home_tags generic_components %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as current_language %}
<div class="language_drop">
    <a href="#" style="{% language_picker_style %}">
        {{ current_language.name_local }}
        <span class="arrow"></span>
    </a>
    <ul class="drop">
            {% for locale, url in locales %}
                {% get_language_info for locale.language_code as lang %}
                <li class="{% if lang.code == LANGUAGE_CODE %}selected{% endif %}">
                    <a href="{{ url }}?prev={{ request.path }}&page={{ page.id }}" rel="alternate" hreflang="{{ lang.code }}">
                        {{ lang.name_local }}
                    </a>
                </li>
            {% endfor %}
    </ul>
</div>
