{% load wagtailcore_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as current_language %}
<div class="language_drop">
    <a href="#">{{ current_language.name_local }}</a>
    <ul class="drop">
        {% for translation in translations %}
            {% get_language_info for translation.locale.language_code as lang %}
            <li class="{% if lang.code == LANGUAGE_CODE %}selected{% endif %}">
                <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ language_code }}">
                    {{ lang.name_local }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
