{% load wagtailcore_tags i18n %}

{% if previous_sibling or next_sibling %}
    <section class='article__navigation'>
        <span>
            {% if previous_sibling %}
                <a href="{% pageurl previous_sibling %}" class='article__navigation--previous'>
                    {% translate "Previous" %}
                </a>
            {% endif %}
        </span>
        <span>
            {% if next_sibling %}
                <a href="{% pageurl next_sibling %}" class='article__navigation--next'>
                    {% translate "Next" %}
                </a>
            {% endif %}
        </span>
    </section>
{% endif %}
