{% load static wagtailcore_tags wagtailimages_tags sass_tags image_tags home_tags %}

{% for sub_section in sub_sections %}
    <a href="{% pageurl sub_section %}" class='sub-section'>
        {{ sub_section.title }}
        <div class="overlay-holder {% render_is_content_completed sub_section %}">
            {% image sub_section.specific.lead_image width-320 class='article__lead-img' %}
        </div>
{#        {% static 'icons/arrow-right.svg' as right_arrow_url %}#}
{#        {% render_png_from_svg right_arrow_url attrs="width=10px alt='arrow-right'"%}#}
    </a>
{% endfor %}