
.polls-widget {
    padding: 0 0 30px
}

.polls-widget__title {
    margin-bottom: 16px
}

.polls-widget__form {
    margin-top: 16px
}

.polls-widget__form-title {
    -webkit-align-items: center;
    align-items: center;
    color: #9a9a9a;
    display: -webkit-flex;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (min-width: 360px) {
    .polls-widget__form-title {
        font-size: 16px;
        line-height: 20px;
    }
}

.polls-widget__form-title svg {
    margin-right: 5px
}

.polls-widget__item {
    margin-bottom: 10px
}

.polls-widget__item:last-child {
    margin-bottom: 0
}

.polls-widget__submit {
    margin-top: 24px
}

.cust-check--white .cust-check__title {
    background: transparent;
    border: 1px solid #E8F8FD;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 3px 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.cust-check--active .cust-check__title {
    border: 2px solid #0070e2;
}

.quest-item__content {
    margin-bottom: 8px;
}

.quest-item__content:last-child {
    margin-bottom: 0;
}

.quest-item__step-desc {
    -webkit-align-items: center;
    align-items: center;
    color: #9a9a9a;
    display: -webkit-flex;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 16px;
    padding-left: 8px;
    text-transform: uppercase
}

@media screen and (min-width: 360px) {
    .quest-item__step-desc {
        font-size: 16px;
        line-height: 20px;
    }
}

.quest-item__step-desc:before {
    background: url("/static/icons/info.svg") no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 14px;
    margin-right: 4px;
    width: 14px
}
