
.quiz-page__title {
    margin: 18px 0 24px
}

.quiz-page__btn {
    margin: 0 0 24px
}


.quest-item {
    border-top: 1px solid #efefef;
    padding: 24px 0
}

.quest-item__header {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex
}

.quest-item__number {
    color: #0070e2;
    font-size: 8px;
    font-weight: 800;
    line-height: 12px
}

.quest-item__step-desc {
    -webkit-align-items: center;
    align-items: center;
    border-left: 1px solid #efefef;
    color: #9a9a9a;
    display: -webkit-flex;
    display: flex;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 12px;
    margin-left: 8px;
    padding-left: 8px;
    text-transform: uppercase
}

.quest-item__step-desc:before {
    content: "";
    background-image: url("/static/icons/info.svg");
    display: block;
    height: 10px;
    margin-right: 4px;
    width: 10px
}

.quest-item__desc {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin: 8px 0 16px
}

.quest-item__content {
    margin-top: 16px
}

.quest-item__input {
    margin-bottom: 8px
}

.quest-item__input:last-child {
    margin-bottom: 0
}


.quiz-answer-banner__content {
    -webkit-align-items: center;
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 84px;
    -webkit-justify-content: center;
    justify-content: center;
    background-image: url('/static/icons/quiz-answer-banner.svg')
}

.quiz-answer-banner__counter {
    background-color: #0094f4;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 28px
}

.quiz-answer-banner__counter:first-letter {
    font-size: 28px
}

.quiz-answer-banner__result-text {
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px
}

.quiz-answer-banner__answers {
    background-color: #f7f7f9;
    border-radius: 4px;
    padding: 8px
}

.quiz-answer-banner__answer, .quiz-answer-banner__answers {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex
}

.quiz-answer-banner__answer {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 16px;
    margin-right: 12px;
    max-width: 96px;
    width: 100%
}

.quiz-answer-banner__answer:before {
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    content: "";
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 14px;
    margin-right: 8px;
    width: 14px
}

.quiz-answer-banner__answer.success:before {
    background-color: #71c083;
    background-image: url("/static/icons/checked-white.svg")
}

.quiz-answer-banner__answer.error {
    color: #fb3d24
}

.quiz-answer-banner__answer.error:before {
    background-color: #fb3d24;
    color: #fff;
    content: "\2A09";
    font-size: 7px;
    -webkit-justify-content: center;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center
}

.quest-item__status {
    border-right: 1px solid #efefef;
    font-size: 8px;
    font-weight: 800;
    line-height: 12px;
    margin: 0;
    margin-right: 8px;
    padding-right: 8px
}

.quest-item.error .quest-item__message, .quest-item.error .quest-item__status {
    color: #fb3d24
}

.quest-item.success .quest-item__status {
    color: #71c083
}

.quest-item__message {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 8px
}

.quiz-answer-banner__answer.error:before, .quiz-answer-banner__btns {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex
}

.quiz-answer-banner__btns {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 12px 0
}

.quiz-answer-banner__btn {
    -webkit-justify-content: center;
    justify-content: center;
    white-space: nowrap;
    width: 102px
}
