.survey-widget {
    padding: 32px 0
}

.survey-widget__title {
    margin: 0
}

.survey-widget__desc {
    margin: 8px 0 20px
}


.survey-page__title {
    margin: 18px 0 24px;
    max-width: 180px
}

.survey-page__title--center {
    margin: 16px auto 0;
    text-align: center
}

.survey-page__btn {
    margin-bottom: 4px
}

.survey-page__btn:last-child {
    margin-bottom: 0
}

.survey-page__btns {
    padding-bottom: 32px
}

.survey-page__desc {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 24px;
    margin-top: 8px;
    text-align: center
}

.survey-page__content {
    margin-bottom: 24px
}


.quest-item {
    border-top: 1px solid #efefef;
    padding: 24px 0
}

.quest-item__header {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex
}

.quest-item__number {
    color: #0070e2;
    font-size: 8px;
    font-weight: 800;
    line-height: 12px
}

.quest-item__step-desc {
    -webkit-align-items: center;
    align-items: center;
    border-left: 1px solid #efefef;
    color: #9a9a9a;
    display: -webkit-flex;
    display: flex;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 12px;
    margin-left: 8px;
    padding-left: 8px;
    text-transform: uppercase
}

.quest-item__step-desc:before {
    background-image: url("/static/icons/info.svg");
    content: "";
    display: block;
    height: 10px;
    margin-right: 4px;
    width: 10px
}

.quest-item__desc {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin: 8px 0 16px
}

.quest-item__content {
    margin-top: 16px
}

.quest-item__input, .quest-item__label {
    margin-bottom: 8px
}

.quest-item__input:last-child, .quest-item__label:last-child{
    margin-bottom: 0
}


@media only screen and (min-width: 320px) {

    .survey-widget {
        padding: 60px 0
    }

    .survey-widget__desc {
        margin: 16px 0 32px
    }
}
