{% extends "base.html" %}
{% load static wagtailcore_tags comments comments_xtd  wagtailuserbar menu_tags  home_tags questionnaires_tags sass_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <article class='article'>
        {% render_image page.lead_image img_class='article__lead-img-featured' %}
        {% if user_progress %}
            {% render_user_progress user_progress False %}
        {% endif %}
        <section class='article__content'>
            <h1 tabindex="0">{{ page.title }}</h1>
            {% include_block page.body %}
            <div>
                <p tabindex="0">If your infant or child has symptoms requiring emergency care use these telephone numbers:</p>
                <ul>
                    <li tabindex="0"><span>The contact center operates under a single number <span style="text-decoration:underline; cursor:pointer; color: blue;">0 800 60 20 19</span>, and calls are free.</span></li>
                    <li tabindex="0"><span>In Ukraine, call <span style="text-decoration:underline; cursor:pointer; color: blue;">103</span>.</span></li>
                </ul>
            </div>

            <div tabindex="0" style="color:white;font-size: 1em;background-color:Crimson;text-align: left;">
                <div style="margin: 20px">
                    <br><span style="color:white;font-weight:bold;font-size: 1.2em;">Emergency Numbers in EU&nbsp;</span>
                    <br>
                    <br>
                </div>
            </div>
            <div>
                <h4 tabindex="0">Emergency Numbers - Lost Children</h4>
                <ul>
                    <li tabindex="0">European Hotline for missing children <span style="text-decoration:underline; cursor:pointer; color: blue;">116 000</span></li>
                    <li tabindex="0"><span style="text-decoration:underline; cursor:pointer; color: blue;">EU Child Helpline International 116 111</span></li>
                </ul>
                <h4 tabindex="0">Emergency Numbers - Medical Care</h4>
                <p tabindex="0">If your infant or child has symptoms requiring emergency care use these telephone numbers:</p>
                <p tabindex="0">In the EU, call <span style="text-decoration:underline; cursor:pointer; color: blue;">112</span></p>
            </div>

            {% render_previous_next_buttons page %}
    </article>

    {% get_comment_count for page as comment_count %}
    {% if page.should_show_comments_list %}
        {% flat_menu LANGUAGE_CODE|add:'_menu_live' template="nav_bar.html" %}
        <section class='comments'>
            <h2>{% translate "Comments" %} <span class='comments__count'>{{ comment_count }}</span></h2>
            {% if page.should_show_new_comment_box %}
                {% if user.is_authenticated %}
                    <div class='comments__form'>
                        {% render_comment_form for page %}
                    </div>
                {% else %}
                    <div class='comments__login'>
                        <p>{% translate "Please log in or create your account" %}</p>
                        <div class='comments__input-holder'>
                            <div class="comments__submit">
                                <a href="{% url 'account_login' %}?next={{ page.get_absolute_url }}">{% translate "Log in / Create account" %}</a>.
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <p>
                    {% translate "New comments have been disabled for this page." %}
                </p>
            {% endif %}
            {% if comment_count %}
                <div>
                    {% render_xtdcomment_tree for page allow_flagging allow_feedback show_feedback %}
                </div>
                </section>
            {% endif %}
    {% endif %}

    <section class='related-articles'>
        {% if recommended_articles %}
            <h3>{% translate "Related Articles" %}</h3>
            {% include 'home/tags/articles_list.html' with recommended_articles=recommended_articles %}
        {% endif %}
    </section>

    <style>
        h1:focus{
            outline: 2px solid black;
        }
        h4:focus{
            outline: 2px solid black;
        }
    </style>
{% endblock content %}
