{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags comments comments_xtd  home_tags questionnaires_tags sass_tags %}

{% block content %}
  {% image page.lead_image height-115 width-360 class="main-image-phone" %}
 <article > 
  <section class='article-content'>
      <h1>{{ page.title }}</h1>
      {% include_block page.body %}
     <button class='article-content__chat-btn'>Start Chatting</button>
     {% render_polls_list polls %} 
     {% render_surveys_list surveys %}
       <section class='article-navigation'>
            {% if page.get_prev_sibling or page.get_next_sibling %}
                {% if page.get_prev_sibling %}
                    <a href="{% pageurl page.get_prev_sibling %}" class='article-navigation__button--previous'>Previous</a>
                {% endif %}
                {% if page.get_next_sibling %}
                    <a href="{% pageurl page.get_next_sibling %}" class='article-navigation__button--next'>Next</a>
                {% endif %}
    
            {% endif %}
       </section> 
 </article>
 <section class='comments'>
 {% get_comment_count for page as comment_count %}
    {% if page.allow_comments or comment_count %}
        <h2>Comments <span class='comments__count'>{{ comment_count }}</span></h2>
        {% if page.allow_comments %}
            {% if user.is_authenticated %}
                <div class='comments__form'>
                    {% render_comment_form for page %}
                </div>
            {% else %}
            <div class='comments__login'>
              Please log in or create your account
             <div class='comments__input-holder'>
                <div class="comments__submit">
                    <a href="{% url 'account_login' %}?next={{ page.get_absolute_url }}">Log in/Create account</a>.
                </div>
             </div>
            </div>
            
        {% endif %}
        {% else %}
            <p >
                New comments have been disabled for this page.
            </p>
        {% endif %}
        {% if comment_count %}
            <div >
                {% render_xtdcomment_tree for page allow_flagging allow_feedback show_feedback %}
            </div>
            <div class='comments__input-holder'>
                <div class="comments__load">
                <button >View more comments</button>
            </div>
            </div>
        {% endif %}
    {% endif %}
 </section>
 <section class='recommended_reading'>
    {% if page.recommended_articles.count %}
    <h2>Related Articles</h2>
        <ul class='recommended_articles'>
        {% for recommended_article_model in page.recommended_articles.all %}
            <li>
            <a href="{% pageurl recommended_article_model.article %}">
            <p class='title'> {{ recommended_article_model.article.title }}</p>
               {% image recommended_article_model.article.lead_image fill-100x110 %}
            </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
  </section>            
{% endblock content %}
