{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags comments comments_xtd %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% image page.lead_image  class="article-image-holder__image" %}
    <section class='article-content'>
      <h1>{{ page.title }}</h1>
         {% include_block page.body %}
    </section>
    <section>
          
           


                  








                  

                   
                {% if page.get_prev_sibling or page.get_next_sibling %}
                    <hr>
                    <div class="siblings-container">
                        {% if page.get_prev_sibling %}
                            <div class="prev-sibling">
                                    <h2><a href="{% pageurl page.get_prev_sibling %}">Previous</a></h2>
                                    {{ page.get_prev_sibling.title }}
                            </div>
                        {% endif %}
                        {% if page.get_next_sibling %}
                            <div class="next-sibling">
                                    <h2><a href="{% pageurl page.get_next_sibling %}">Next</a></h2>
                                    {{ page.get_next_sibling.title }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                </div>
                <div class="content-grid-right">
                <div class="related-articles-section">
                        <h1>Related Articles</h1>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="comments-block">
                {% get_comment_count for page as comment_count %}
                {% if page.allow_comments or comment_count %}
                    <h1>Comments</h1>
                    {% if page.allow_comments %}
                        {% if user.is_authenticated %}
                            <div class="card card-block mb-5">
                                <div class="card-body">
                                    <h4 class="card-title text-center pb-3">Post your comment</h4>
                                    {% render_comment_form for page %}
                                </div>
                            </div>
                        {% else %}
                            <p class="text-center">
                                Only registered users can post comments. Please,
                                <a href="{% url 'account_login' %}?next={{ page.get_absolute_url }}">login</a>.
                            </p>
                        {% endif %}
                    {% else %}
                        <p class="text-center">
                            New comments have been disabled for this page.
                        </p>
                    {% endif %}
                    <br>
                    <div class="py-4 text-center">
                        <a href="#">See All Comments</a>
                        &nbsp;&sdot;&nbsp;
                        {{ comment_count }} comment{{ comment_count|pluralize }}
                        ha{{ comment_count|pluralize:"s,ve" }} been posted.
                    </div>

                    {% if comment_count %}
                        <hr/>
                        <div class="comments">
                            {% render_xtdcomment_tree for page allow_flagging allow_feedback show_feedback %}
                        </div>
                        <button class="load-more-button">Load More</button>
                    {% endif %}

                    </div>
                {% endif %}
        </section>
    </section>
{% endblock content %}
