{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags home_tags menu_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="home">
        {% render_banners_list banners %}
        {% flat_menu "nav_bar" template="nav_bar.html" %}
        <div class="container container--main">
            {% render_articles_list featured_content %}
        </div>
    </div>
{% endblock content %}
