{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailuserbar menu_tags home_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
  <div class="home-page">
    {% if user.is_authenticated and not notification_preference.receive_notifications %}
      <div id="notification-bar" class="enable-notifications-nudge">
          <span>🔔 Don’t miss out! <a href="{% url 'notification_settings' %}">Turn on notifications</a> to stay updated with the latest from IOGT."</a></span>
      </div>
    {% endif %}
    {% include 'home/tags/banners_list.html' with banners=banners %}
    <div>
        {% if page.home_featured_content %}
            {% flat_menu LANGUAGE_CODE|add:'_menu_live' template="nav_bar.html" %}
            {% include_block page.home_featured_content %}
        {% endif %}
    </div>
  </div>
{% endblock content %}
