{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags home_tags questionnaires_tags sass_tags i18n wagtailuserbar menu_tags generic_components %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div class="section-img">
        {% image page.lead_image width-320 class='lead-img' %}
        <div class="image-overlay__text">{{ page.title }}</div>
    </div>
    {% if user_progress %}
        {% render_user_progress user_progress %}
    {% endif %}
    {% if featured_content_items %}
        <section class='featured-content'
                 style="background-color:{{ page.background_color }}; color:{{ page.font_color }}">
            {% include 'home/tags/featured_content_list.html' with featured_content_items=featured_content_items %}
        </section>
    {% endif %}
    {% if children %}
        {% include 'home/tags/child_pages.html' with children=children %}
    {% endif %}
{% endblock content %}
