# Django project
*.sqlite3
/media/
/static/

# Python and others
*.pyc
*.swp
.DS_Store
.python-version
.vscode
/.idea/
/.pytest_cache/
/.vagrant/
/Vagrantfile.local
/npm-debug.log
/tmp/
/venv/
__pycache__
coverage
node_modules/
pytest.ini
requirements-gae.txt

# Distribution / packaging
*.egg
*.egg-info/
.Python
.eggs/
.installed.cfg
build/
develop-eggs/
dist/
downloads/
eggs/
env/
lib/
lib64/
parts/
sdist/
var/
wheels/

.gcloudignore
.git
.gitignore
/*initdb.d/
Makefile
app.yml
docker-compose*.yml