version: "3"

services:
  django:
    build:
      context: ./
      target: dev
    environment:
      DJANGO_SETTINGS_MODULE: iogt.settings.test
    command: ["tini", "--", "sleep", "infinity"]
    volumes:
      - ./:/app/
    depends_on:
      - database
      - selenium-hub
  database:
    image: postgres:14-alpine
    environment:
      POSTGRES_PASSWORD: iogt
  selenium-hub:
    image: selenium/hub:4.9.1-20230508
  chrome:
    image: selenium/node-chrome:4.9.1-20230508
    shm_size: 2gb
    depends_on:
      - selenium-hub
    environment:
      SE_EVENT_BUS_HOST: selenium-hub
      SE_EVENT_BUS_PUBLISH_PORT: "4442"
      SE_EVENT_BUS_SUBSCRIBE_PORT: "4443"
      SE_VNC_NO_PASSWORD: "1"
