beautifulsoup4
cairosvg
django-allauth~=0.59.0
django-compressor
django-contrib-comments
django-comments-xtd==2.10.7
django-extensions
django-filter~=25.1
django-health-check==3.20.0
django-redis
django-sass-processor==1.4.2
django-translation-manager
django-webpush
django~=5.2.4
djangorestframework-simplejwt
djangorestframework>=3.12,<3.16
django-debug-toolbar==5.2.0
drf-yasg
elasticsearch
libsass
lxml
psycopg2-binary
pyjwt
redis
tqdm
wagtail-markdown==0.12.1
wagtail-modeladmin
wagtail-localize==1.12.2
wagtail~=7.0
wagtail-cache==3.0.0
wagtailmedia==0.16
wagtailmenus==4.0.4
wagtailsvg @ https://github.com/sachin-mehta/wagtailsvg/archive/3d2ecc67d993faeffd3251e88ad2e38b3265c0e4.zip
wagtail-transfer
whitenoise
xlsxwriter==3.2.5
django-notifications-hq @ https://github.com/django-notifications/django-notifications/archive/4c44bcea2504d9a3fcd26366b232a13732a08f2a.zip
celery==5.5.3