django-extensions
elasticsearch>=7.0.0,<8.0.0
psycopg2==2.8.*
wagtail-markdown==0.7.0
wagtail==2.11.*
wagtailmedia==0.7.0
wagtailmenus~=3.0
elasticsearch>=7.0.0,<8.0.0
django-allauth~=0.44
factory-boy==3.2.*
django-comments-xtd==2.9.*
wagtail-localize~=0.9.5
django-debug-toolbar==3.2.1
libsass==0.21.*
django-compressor==2.4.*
django-sass-processor==1.0.*
wagtail-transfer~=0.7.0
whitenoise==5.2.*
wagtailsvg==0.0.14
cairosvg==2.5.2
tqdm
lxml
django-translation-manager==1.1.1
