beautifulsoup4
cairosvg
django-allauth~=0.59.0
django-compressor
django-contrib-comments
django-comments-xtd==2.10.7
django-extensions
django-filter~=25.1
django-health-check
django-redis
django-sass-processor
django-translation-manager
django-webpush
django~=5.2.4
djangorestframework-simplejwt
djangorestframework>=3.12,<3.16
drf-yasg
elasticsearch
libsass
lxml
psycopg2-binary
pyjwt
redis
tqdm
wagtail-markdown==0.12.1
wagtail-modeladmin
wagtail-localize
wagtail~=7.0
wagtail-cache==3.0.0
wagtailmedia
wagtailmenus
git+https://github.com/jmrichardson/wagtail-svg.git@main#egg=wagtailsvg
# branch: iogt, tag: v0.8.5-iogt.1
wagtail-transfer @ https://github.com/IDEMSInternational/wagtail-transfer/archive/52b57b364ebc9acddd412ee708f829b45763c9ab.zip
whitenoise
