@import "../../../../styles//mixins";


.xs-home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid $fog;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  &__search {
    height: 11px;
    width: 11px;
  }

  &__select {
    font-weight: 600;
    font-size: 10px;
    background-color: $gold;
    border: none;
    border-radius: 8px;
    font-style: normal;
    color: $black;
    padding: 2px;
  }

  @include sm {
    display: none;
  }
}

.sm-home-header {
  display: none;

  @include sm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white;
    border: 1px solid $fog;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 11px 20px;

    select {
      appearance: none;
      margin-right: 10px;
      background: $gold;
      border: none;
      border-radius: 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: $black;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px 12px;
      background-image: url("/static/icons/down.svg");
      background-repeat: no-repeat;
      background-position: 80px;
      background-size: 10px;
    }

    &__options {
      width: 50vw;
      display: flex;
      justify-content: flex-end;

      select {
        appearance: none;
        margin-right: 10px;
        background: $gold;
        border: none;
        border-radius: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 12px;
        background-image: url("/static/icons/down.svg");
        background-repeat: no-repeat;
        background-position: 80px;
        background-size: 10px;
      }

      img {
        margin: 0;
        border-left: 1px solid $fog;
        padding: 5px 0;
        padding-left: 10px;
      }
    }
  }
}