{% extends "wagtailmedia/media/add.html" %}
{% load static %}


{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/iogt.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('button[type=submit]').click(function () {
        alert('Videos and audios aren\'t support in facebook free basics.');
        var fileInput = $('#id_file')[0];
        var file_size_threshold = "{{ settings.home.SiteSettings.media_file_size_threshold }}";

        return validateFileUpload(fileInput, file_size_threshold);
      });
    });
  </script>
{% endblock %}
