{% extends "wagtailadmin/base.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block css %}
    {{ block.super }}
    {{ view.media.css }}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ view.media.js }}
{% endblock %}

{% block content %}
    {% block header %}
        <header class="nice-padding hasform">
            <div class="row header-title">
                <div class="left" style="display: flex; gap: 1.5rem;">
                    <div class="col">
                        {% block h1 %}
                            <h1 {% if view.header_icon %}class="icon icon-{{ view.header_icon }}"{% endif %}>
                                {{ view.get_page_title }}<span></span>
                            </h1>
                        {% endblock %}
                    </div>
                    {% block search %}
                        {% search_form %}
                    {% endblock %}
                </div>

                {% block header_extra %}
                    <div class="right" style="display: flex;">
                        {% if user_can_create %}
                            <div class="actionbutton" style="display:inline-block">
                                {% include 'modeladmin/includes/button.html' with button=view.button_helper.add_button %}
                            </div>
                        {% endif %}

                        <div class="actionbutton" style="display:inline-block; margin-left: 10px">
                            <a disabled="true" class="button button--icon">
                                {% icon name="group" wrapped=1 %}{% translate 'Upload Users' %}
                            </a>
                        </div>

                        {% if view.list_export %}
                            <div class="dropdown-container">
                                {% dropdown toggle_icon="download" toggle_label="Download Users" %}
                                    <a href="?export=xlsx&{{ request.GET.urlencode }}">
                                        {% icon name="download" %}{% translate "Download Users (XLSX)" %}
                                    </a>
                                    <a href="?export=csv&{{ request.GET.urlencode }}">
                                        {% icon name="download" %}{% translate "Download Users (CSV)" %}
                                    </a>
                                {% enddropdown %}
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>

            {% with total=paginator.count %}
                {{ total }} User{{ total|pluralize }}
            {% endwith %}
        </header>
    {% endblock %}

    {% block content_main %}
        <div class="listing">
            <div class="row">
                <div class="{% if view.has_filters and all_count %}col9{% else %}col12{% endif %}">
                    {% block result_list %}
                        {% if not all_count %}
                            <div class="nice-padding" style="margin-top:30px;">
                                {% if no_valid_parents %}
                                    <p>{% blocktranslate trimmed with view.verbose_name_plural as name %}
                                        No {{ name }} have been created yet. One of the following must be created before you can add any {{ name }}:
                                    {% endblocktranslate %}</p>
                                    <ul>
                                        {% for type in required_parent_types %}
                                            <li><b>{{ type|title }}</b></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>{% blocktranslate trimmed with view.verbose_name_plural as name %}
                                        No {{ name }} have been created yet.
                                    {% endblocktranslate %}
                                    {% if user_can_create %}
                                        {% blocktranslate trimmed with view.create_url as url %}
                                            Why not <a href="{{ url }}">add one</a>?
                                        {% endblocktranslate %}
                                    {% endif %}</p>
                                {% endif %}
                            </div>
                        {% else %}
                            {% result_list %}
                        {% endif %}
                    {% endblock %}
                </div>
                   {% block filters %}
                {% if view.has_filters and all_count %}
                    <div class="col3">
                        <div class="changelist-filter">
                            <h2>{% translate 'Filter' %}</h2>
                            {% for spec in view.filter_specs %}
                                {% admin_list_filter view spec %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
                 {% endblock %}

            {% block pagination %}
                <nav class="pagination" aria-label="{% translate 'Pagination' %}">
                    <p>
                        {% blocktranslate trimmed with page_obj.number as current_page and paginator.num_pages as num_pages %}
                            Page {{ current_page }} of {{ num_pages }}.
                        {% endblocktranslate %}
                    </p>
                    {% if paginator.num_pages > 1 %}
                        <ul>
                            {% pagination_link_previous page_obj view %}
                            {% pagination_link_next page_obj view %}
                        </ul>
                    {% endif %}
                </nav>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
