<nav class="navbar navbar-expand-xl navbar-light bg-light sticky-top" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">IoGT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for item in site.data.navbar.pages %}
                {% if item.dropdown %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ item.name }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for dropdownitem in item.dropdown %}
                        <li><a class="dropdown-item" href="{{ dropdownitem.link }}">{{ dropdownitem.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                {% else %}

                <li class="nav-item">
                    <a href="/#{{ item.link }}" class="nav-link">{{ item.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>