<nav class="navbar navbar-expand-xl navbar-light bg-light sticky-top" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                {% for item in site.data.navbar.pages %}
                    <a class="nav-item nav-link" href="#{{ item.link }}">{{ item.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>