{% extends "base.html" %}
{% load questionnaires_tags %}
{% load static wagtailcore_tags i18n %}

{% block title %}{% trans page.title %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/survey.css' %}">
{% endblock %}

{% block content %}
    <div class="survey-page">
        {% include 'back_button.html' with back_url=back_url %}
        <div class="container">
            <h1 class="title survey-page__title">{% trans page.title %}</h1>
            {% if page.description %}
                <p>{% trans page.description %}</p>{% endif %}
            <form action="{% pageurl page %}{% if self.multi_step or self.has_page_breaks %}?p={{ fields_step.number|add:"1" }}&back_url={{ request.path }}{% else %}?back_url={{ request.path }}{% endif %}"
                  method="POST" class="survey-page__content">
                {% csrf_token %}
                <div class="survey-page__content">
                    {% for field in form %}
                        <div class="quest-item">
                            <div class="quest-item__header">
                                <p class="quest-item__number">{{ forloop.counter }}
                                    of {{ fields_step.paginator.count|add:"1" }}
                                    questions</p>
                                <p class="quest-item__step-desc">
                                    <span>
                                        {% if field.field.widget.input_type  == "radio" or "select" in field.field.widget.template_name %}
                                            Select one
                                        {% elif  field.field.widget.input_type  == "checkbox" %}
                                            Check all that apply
                                        {% else %}
                                            Optional
                                        {% endif %}
                                    </span>
                                </p>
                            </div>
                            <div class="quest-item__desc">
                                <p>{{ field.label }}</p>
                            </div>
                            {% if field.field.widget.input_type == "radio" %}
                                {% render_radios field %}
                            {% elif field.field.widget.input_type == "checkbox" %}
                                {% render_checkboxes field %}
                            {% elif "textar" in field.field.widget.template_name %}
                                {% render_textarea field %}
                            {% elif field.field.widget.input_type == "text" %}
                                {% render_text_field field %}
                            {% elif "/select" in field.field.widget.template_name %}
                                {% render_select field %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="survey-page__btns">
                    <button type="submit"
                            class="cust-btn cust-btn--dark survey-page__btn">
                        <span>{% if fields_step.paginator.num_pages == fields_step.number %}
                            {% trans page.submit_button_text %}{% else %}
                            {% trans "Next step" %}{% endif %}</span>
                    </button>
                    <a href="/"
                       class="cust-btn cust-btn--clear survey-page__btn"><span>{% trans "Go to homepage" %}</span></a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
