{% extends "base.html" %}
{% load questionnaires_tags %}
{% load static wagtailcore_tags i18n %}

{% block title %}{% trans page.title %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/survey.css' %}">
{% endblock %}

{% block content %}
    <div class="survey-page">
        {% include 'back_button.html' with back_url=back_url %}
        <div class="container">
            <h1 class="title survey-page__title">{% trans page.title %}</h1>
            {% if page.description %}
                <div class="survey-page__description">{{ page.description }}</div>{% endif %}
            <form action="{% get_action_url page self fields_step request form %}"
                  method="POST" class="survey-page__content">
                {% csrf_token %}
                <div class="survey-page__content">
                    {% for field in form %}
                        <div class="quest-item" tabindex="0">
                            <div class="quest-item__header">
                                {% field_counter field form forloop form_length fields_step self %}
                                {% field_description field %}
                            </div>
                            <div class="quest-item__desc">
                                {% if field.field.widget.input_type == "checkbox" and  field|length == 1 %}{% else %}
                                    <p>{% trans field.label %}</p>
                                {% endif %}
                            </div>
                            {% render_fields field "survey" %}
                        </div>
                    {% endfor %}
                </div>
                <div class="survey-page__btns">
                    {% render_submit_button fields_step page %}
                    <a href="/"
                       class="cust-btn cust-btn--clear survey-page__btn"><span>{% trans "Go to homepage" %}</span></a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
