{% extends "base.html" %}
{% load i18n %}
{% load static wagtailcore_tags %}
{% load home_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/section.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
{% endblock extra_css %}

{% block title %}{% trans "Search results for" %}: {{ search_query }}{% endblock %}

{% block content %}
    <div class="search-container">
        <h2>
            {% trans "Searching results for" %}: "{{ search_query }}"
        </h2>

        {% if search_groups %}
            {% for key, value in search_groups.items %}
                <h3>{{ key }} {{ value.search_results_no }} result{{ value.search_results_no|pluralize }}</h3>
                {% render_articles_list value.search_results %}

                <div class="page-controls-container">
                    {% if value.search_results.has_previous %}
                        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ value.search_results.previous_page_number }}" >Previous</a>
                    {% endif %}

                    {% if value.search_results.has_next %}
                        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ value.search_results.next_page_number }}" >Next</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% elif search_query %}
            <div>
                No results found
            </div>
        {% endif %}
    </div>
{% endblock %}
