{% load i18n wagtailadmin_tags home_tags %}
{% trans "Add an external link" as add_str %}
{% include "wagtailadmin/shared/header.html" with title=add_str %}

<div class="nice-padding">
    {% include 'wagtailadmin/chooser/_link_types.html' with current='external' %}

    <div>
        <p style="color: red">If you are linking back to a URL on your own IoGT site, be sure to remove the domain and everything before it. For example, "http://sd.goodinternet.org/url/" should instead be "/url/".</p>
    </div>

    <form action="{% url 'wagtailadmin_choose_page_external_link' %}{% querystring %}" method="post" novalidate>
        {% csrf_token %}
        <ul class="fields">
            {% for field in form %}
                {% include "wagtailadmin/shared/field.html" %}
            {% endfor %}
            <li><input type="submit" value="{% trans 'Insert link' %}" class="button"/></li>
        </ul>
    </form>
</div>
