{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar menu_tags  home_tags questionnaires_tags sass_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_current_language as LANGUAGE_CODE %}
{% load wagtailadmin_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/interactive_game.css' %}">
{% endblock %}

{% block content %}
    <article class="interactive-game interactive-bg-{{db_data.bg_color}}">
        <div class="container" style="text-align:center;">
            <div class="d-grid gap-2 col-6 mx-auto">
                <form action="#" class="interactive-game-form" method="POST">
                    {% csrf_token %}

                    <center>
                        {{ db_data.message|safe }}
                    </center>
                    
                    {% for reply in db_data.buttons %}
                    <button type="submit" class="cust-btn btn-secondary interactive-btn" name="text" value="{{ reply }}">{{ reply }}</button>
                        {% comment %} <input type="submit" class="cust-btn btn-secondary interactive-btn" name="text" value="{{ reply }}"> {% endcomment %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </article>
{% endblock content %}
