{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar menu_tags  home_tags questionnaires_tags sass_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <article class='interactive-game'>
        {% render_image page.lead_image img_class='lead-img' %}

        <div class="container">
            <h1>Interactive Game</h1>
            <form method="post" action="#">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="text" value="{{ trigger_string_with_lang }}">
                <button type="submit" class="btn btn-success">{{ page.button_text }}</button>
            </form>
        </div>
    </article>
{% endblock content %}
