{% extends "modeladmin/index.html" %}
{% load messaging_tags %}
{% load i18n modeladmin_tags wagtailadmin_tags %}

{% block header %}
    <header class="nice-padding hasform">
        <div class="row header-title">
            <div class="left">
                <div class="col">
                    {% block h1 %}
                        <h1 {% if view.header_icon %}class="icon icon-{{ view.header_icon }}"{% endif %}>
                            {{ view.get_page_title }}
                        </h1>
                    {% endblock %}
                </div>
                {% block search %}{% search_form %}{% endblock %}
            </div>
            {% block header_extra %}
                <div class="right">
                    {% if user_can_create %}
                        <div class="actionbutton">
                            {% include 'modeladmin/includes/button.html' with button=view.button_helper.add_button %}
                        </div>
                    {% endif %}
                    {% if view.list_export %}
                        <div class="dropdown dropdown-button match-width col">
                            <a href="?export=xlsx&{{ request.GET.urlencode }}" class="button bicolor button--icon">{% icon name="download" wrapped=1 %}{% trans 'Download XLSX' %}</a>
                            <div class="dropdown-toggle">{% icon name="arrow-down" %}</div>
                            <ul>
                                <li><a  class="button bicolor button--icon" href="?export=csv&{{ request.GET.urlencode }}">{% icon name="download" wrapped=1 %}{% trans 'Download CSV' %}</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
        <p style="text-transform: none; display: inline-block">
            <span style="font-weight: bold">Chatbot Authentication Header:</span>
            <div style="word-wrap: break-word; width: 80%">{% chatbot_auth_header %}</div>
        </p>
    </header>
{% endblock %}
