{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar menu_tags  home_tags questionnaires_tags sass_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <article class='cranky_uncle'>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="card-header">
                        <span class="text-danger">Cranky Points: {{ db_data.point }}</span>
                        {# Uncomment and adjust as needed #}
                        {# <span style="margin-left: 20px">Level: {{ level.levelNumber }} - {{ level.levelName }}</span> #}
                    </div>
                    <div class="card-body">
                        <div class="pb-5">
                            <h1>{{ db_data.message }}</h1>
                        </div>

                        <div class="d-grid gap-2 col-6 mx-auto">
                            <form action="{% url 'cranky:cranky-quiz' slug=slug %}" method="POST">
                                {% csrf_token %}
                                {% for reply in db_data.buttons %}
                                    <input type="submit" class="cust-btn btn-success" name="text" value="{{ reply }}">
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    {# Uncomment and adjust as needed #}
                    {# <img class="img img-fluid uncle" src="{% static 'img/uncle.7747b6ca.svg' %}" alt="blinking uncle"> #}
                </div>
            </div>
        </div>

    </article>

{% endblock content %}
