{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar menu_tags  home_tags questionnaires_tags sass_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <style>
        .cranky-btn {
            margin-bottom: 4px
        }
        .cranky-btn:hover {
            color: white
        }
        .cranky-img {
            display: inline !important
        }
        button:disabled {
            cursor: default;
            opacity: 50%;
        }
        .denial-btn {
            color:#444;
            background: transparent;
            border: none;
            outline: none;
            border-radius: 0;
            border-bottom: 1px solid #EFEFEF;
        }
        .denial-btn:hover {
            background: white;
            color: #444;
        }
        .denial-btn:focus {
            background: white;
            color: #444;
        }
    </style>
    
    <article class='cranky_uncle'>

        <div class="container" style="text-align:center;">
            {% comment %} <div style="padding-bottom:4rem">
                <h1>{{ db_data.message|safe }}</h1>
            </div> {% endcomment %}

            <div class="d-grid gap-2 col-6 mx-auto">
                <form action="{% url 'cranky:cranky-quiz' slug=slug %}" method="POST">
                    {% csrf_token %}

                    <div style="padding-bottom:4rem">
                        {{ db_data.message|safe }}
                    </div>
                    
                    {% for reply in db_data.buttons %}
                        <input type="submit" class="cust-btn btn-secondary cranky-btn" name="text" value="{{ reply }}">
                    {% endfor %}
                </form>
            </div>
        </div>

    </article>

{% endblock content %}
