{% extends "modeladmin/index.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags %}

{% block header %}
    <header class="nice-padding hasform">
        <div class="row header-title">
            <div class="left">
                <div class="col">
                    {% block h1 %}<h1 {% if view.header_icon %}class="icon icon-{{ view.header_icon }}"{% endif %}>{{ view.get_page_title }}<span></span></h1>{% endblock %}
                    <h3>Changes may take up to 5 minutes to reflect on your public IoGT site.</h3>
                </div>
                {% block search %}{% search_form %}{% endblock %}
            </div>
        </div>
    </header>
{% endblock %}
