{% extends "modeladmin/index.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags %}

{% block header %}
    <header class="nice-padding hasform">
        <div class="row header-title">
            <div class="left">
                <div class="col">
                    {% block h1 %}<h1 {% if view.header_icon %}class="icon icon-{{ view.header_icon }}"{% endif %}>{{ view.get_page_title }}<span></span></h1>{% endblock %}
                </div>
                {% block search %}{% search_form %}{% endblock %}
            </div>
            {% block header_extra %}
                <div class="right">
                     <div class="actionbutton" style="display:inline-block; margin-left: 20px">
                            <a href="{% url 'load_translations' %}" class="button bicolor icon icon-repeat">{% translate 'Load Translations' %}</a>
                     </div>
                </div>
            {% endblock %}
        </div>
    </header>
{% endblock %}
