{% load home_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% if article %}
    <div class="article-card">
        <a href="{% pageurl article %}" style="background:{{ background_color }};"
           class="{% if is_first_content %}first-content{% endif %}">
            <div class="article-header">
                {% if display_section_title %}
                    <p class="sm-paragraph" style="color:{{ font_color }};">
                        {{ article.top_level_section.title|upper }}
                    </p>
                {% endif %}
                <p class="article-title">{% block title %}{{ article.title }}{% endblock %}</p>
                {% if article.index_page_description %}
                    <p class="sm-paragraph">{{ article.index_page_description }}</p>
                {% endif %}
            </div>
            <div class="img-holder {% render_is_complete article %}">
                {% block lead_image %}
                    {% if is_first_content %}
                        {% image article.lead_image width-360 class='' %}
                    {% else %}
                        {% image article.lead_image width-180 class='' %}
                    {% endif %}
                {% endblock %}
            </div>
        </a>
    </div>
{% endif %}
