{% load home_tags offline_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% if article %}
    <div class="article-card">
        <a href="{% pageurl article %}" style="background:{{ background_color }};"
           class="{% if is_first_content %}first-content{% endif %}">
            <div class="article-header">
                {% if display_section_title %}
                    <p class="sm-paragraph" style="color:{{ font_color }}; font-weight: bold !important;">
                        {{ article.top_level_section.title|upper }}
                    </p>
                {% endif %}
                <p class="article-title">{{ article.title }}</p>
                {% if article.index_page_description %}
                    <p class="sm-paragraph">{{ article.index_page_description }}</p>
                {% endif %}

                {# Show ONLY if this section supports offline download #}
                {% if article|is_downloadable %}
                    <span class="offline-badge" data-url="{% pageurl article %}" data-mode="download">
                    ⬇ Download available
                    </span>
                {% endif %}
            </div>
         {% if article.lead_image %}
            <div class="img-holder {% render_is_complete article %}">
                {% if is_first_content %}
                    {% render_image article.lead_image %}
                {% else %}
                    {% render_image article.lead_image half_width=True %}
                {% endif %}
            </div>
          {% endif %}
        </a>
    </div>
{% endif %}
