{% load wagtailcore_tags wagtailimages_tags %}

<a href="{% pageurl page %}" style="color:{{ font_color }}; background:{{ background_color }};">
    <div class="article-header">
        {% if display_section_title %}
            <p class="sm-paragraph">
                {{ page.get_parent.title|upper }}
            </p>
        {% endif %}
        <p>{{ page.title }}</p>
    </div>
    {% image page.lead_image width-75 class='related-articles__img--xs' %}
    {% image page.lead_image original class='related-articles__img--sm' %}
</a>
