{% load static wagtailcore_tags wagtailimages_tags questionnaires_tags i18n offline_tags %}

<div class="questionnaire-components">
    <div class='questionnaire-components__component'>
        <a href="{% pageurl questionnaire %}" style="color:{{ font_color }}; background:{{ background_color }};">
            <div>
                <p>{% translate questionnaire.get_type|upper %}</p>
                <p>{{ questionnaire.title }}</p>
                {% include 'questionnaires/tags/index_page_description_lines.html' with questionnaire=questionnaire %}
                
                {# Show ONLY if this section supports offline download #}
                {% if questionnaire|is_downloadable %}
                    <span class="offline-badge" data-url="{% pageurl questionnaire %}" data-mode="download">
                    ⬇ Download available
                    </span>
                {% endif %}
            </div>
            {% include 'home/tags/angle_bracket.html' %}
        </a>
    </div>
</div>
