{% load static wagtailcore_tags wagtailimages_tags wagtailimages_tags_patch sass_tags image_tags home_tags %}

<div class="section-card">
    <a href="{% pageurl section %}" class='sub-section {% if is_first_content %}first-content{% endif %}'
       style="color:{{ font_color }}; background:{{ background_color }};">
        <div class="section-header"><p class="section-title">{{ section.title }}</p></div>
        <div class="img-holder {% render_is_complete section %}">
            {% if is_first_content %}
                {% get_image_maximum_width as width_size %}
                {% image section.lead_image width_size class='' %}
            {% else %}
                {% image section.lead_image width-180 class='' %}
            {% endif %}
        </div>
    </a>
</div>
