{% extends "wagtailusers/users/edit.html" %}

{% block fields %}
    {% if form.separate_username_field %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.username_field %}
    {% endif %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.email %}
    {% block extra_fields %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.display_name %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.terms_accepted %}
    {% endblock extra_fields %}
    {% if form.password1 %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.password1 %}
    {% endif %}
    {% if form.password2 %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.password2 %}
    {% endif %}
    {% if form.is_active %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.is_active %}
    {% endif %}

{% endblock fields %}