<ul class="subtopic-dropdown-content">
    <li>
        <a href="/section/youth/internet-safety" class=""><span>Internet Safety</span><label for="Internet Safety0"></label></a>
        <ul class="subsubtopic-content">
            <li>
                <a href="" class=""><span>Read to Your Child about COVID</span><label for="0"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
            <li>
                <a href="" class=""><span>Children with Disabilities</span><label for="1"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/section/youth/career-advice" class=""><span>Career Advice</span><label for="Career Advice1"></label></a>
        <ul class="subsubtopic-content">
            <li>
                <a href="" class=""><span>Read to Your Child about COVID</span><label for="0"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
            <li>
                <a href="" class=""><span>Children with Disabilities</span><label for="1"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/section/youth/girl's-zone" class=""><span>Girl's Zone</span><label for="Girl's Zone2"></label></a>
        <ul class="subsubtopic-content">
            <li>
                <a href="" class=""><span>Read to Your Child about COVID</span><label for="0"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
            <li>
                <a href="" class=""><span>Children with Disabilities</span><label for="1"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/section/youth/freedom-for-girls" class=""><span>Freedom for Girls</span><label for="Freedom for Girls3"></label></a>
        <ul class="subsubtopic-content">
            <li>
                <a href="" class=""><span>Read to Your Child about COVID</span><label for="0"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
            <li>
                <a href="" class=""><span>Children with Disabilities</span><label for="1"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/section/youth/hiv-/-aids-and-safe-sex" class=""><span>HIV / AIDS and Safe Sex</span><label for="HIV / AIDS and Safe Sex4"></label></a>
        <ul class="subsubtopic-content">
            <li>
                <a href="" class=""><span>Read to Your Child about COVID</span><label for="0"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
            <li>
                <a href="" class=""><span>Children with Disabilities</span><label for="1"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/section/youth/the-future-is-yours!" class=""><span>The Future is Yours!</span><label for="The Future is Yours!5"></label></a>
        <ul class="subsubtopic-content">
            <li>
                <a href="" class=""><span>Read to Your Child about COVID</span><label for="0"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
            <li>
                <a href="" class=""><span>Children with Disabilities</span><label for="1"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/section/youth/act-for-climate" class=""><span>Act for Climate</span><label for="Act for Climate6"></label></a>
        <ul class="subsubtopic-content">
            <li>
                <a href="" class=""><span>Read to Your Child about COVID</span><label for="0"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
            <li>
                <a href="" class=""><span>Children with Disabilities</span><label for="1"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/section/youth/end-violent" class=""><span>End Violent</span><label for="End Violent7"></label></a>
        <ul class="subsubtopic-content">
            <li>
                <a href="" class=""><span>Read to Your Child about COVID</span><label for="0"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
            <li>
                <a href="" class=""><span>Children with Disabilities</span><label for="1"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/section/youth/u-report" class=""><span>U-Report</span><label for="U-Report8"></label></a>
        <ul class="subsubtopic-content">
            <li>
                <a href="" class=""><span>Read to Your Child about COVID</span><label for="0"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
            <li>
                <a href="" class=""><span>Children with Disabilities</span><label for="1"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/section/youth/sustainable-goals---practical-guide" class=""><span>Sustainable Goals - Practical Guide</span><label for="Sustainable Goals - Practical Guide9"></label></a>
        <ul class="subsubtopic-content">
            <li>
                <a href="" class=""><span>Read to Your Child about COVID</span><label for="0"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
            <li>
                <a href="" class=""><span>Children with Disabilities</span><label for="1"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/section/youth/your-rights" class=""><span>Your Rights</span><label for="Your Rights10"></label></a>
        <ul class="subsubtopic-content">
            <li>
                <a href="" class=""><span>Read to Your Child about COVID</span><label for="0"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
            <li>
                <a href="" class=""><span>Children with Disabilities</span><label for="1"></label></a>
                <ul class="subsubsubtopic-content">
                    <li><a href="" class=""><span>Children with Disabilities</span><label for="0"></label></a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>