{% load static wagtailuserbar home_tags sass_tags wagtailsettings_tags  %}
{% get_settings %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}
                {{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#493174">
    <link rel="manifest" href="{% static 'manifest/manifest.webmanifest' %}">
    <link rel="apple-touch-icon" href="{% static 'icons/unicef-logo.png' %}">

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="{% static 'css/iogt.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% sass_src 'css/sectionStyles.css' %}">




     

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}

<main id="app">
    <div id="content-wrap">
        {% comment %} {% if settings.home.CacheSettings.cache and first_time_user %}
            {% include "cache_banner.html" %}
        {% endif %}
        {% include "header.html" %}
        {% include "messages.html" %} {% endcomment %}
        {% block content %}{% endblock %}
        {% comment %} {% include "footer.html" %} {% endcomment %}
    </div>
</main>

{# Global javascript #}
<script>
	const successMsg = "Your app is now ready to install. If you are using a iOS device, you can install it by clicking 'Share', scrolling down and tapping 'Add to Home Screen. If using Android choose 'Add to home screen' and you should be all set!";
	const failMsg = 'Something went wrong. Can you try refreshing the page, and clicking the download website button?';

	async function cache() {
		if ('serviceWorker' in navigator && confirm("Install this website as an app on your device?") === true) {
			try {
				await navigator.serviceWorker.register('{% url "sw.js" %}', {scope: '/'});
				alert(successMsg);
			} catch {
				alert(failMsg);
			}
		}
	}
</script>
<noscript>
    <style type="text/css">
        #hideOnNonJSDevice, .hideOnNonJSDevice {
            display: none;
        }

        .showOnNonJSDevice {
            display: block !important;
        }
        </script> 
        <noscript>
            <style type="text/css">
                .hideOnNonJSDevice { display:none; }
            </style>
        </noscript>
        {% block extra_js %}{% endblock %}
    </body>
</html>
