{% load static %}
<footer class="footer">
    <nav>
        <div class="links">
            <span>CORONAVIRUS (COVID-19)</span>
            <a href='/'>ABOUT CORONAVIRUS</a>
            <a href='/'>STUDENT TOOLKIT</a>
            <a href='/'>COVID-19 PARENTING</a>
            <a href='/'>HEALTH WORKER RESOURCES</a>
        </div>
        <div class="links">
            <span>YOUTH</span>
            <div class="columns">
                <div class="column">
                    <a href='/'>INTERNET SAFETY</a>
                    <a href='/'>CAREER ADVICE</a>
                    <a href='/'>GIRL'S ZONE</a>
                    <a href='/'>FREEDOM FOR GIRLS</a>
                    <a href='/'>HIV / AIDS AND SAFE SEX</a>
                    <a href='/'>THE FUTURE IS YOURS!</a>
                </div>
                <div class="column">
                    <a href='/'>ACT FOR CLIMATE</a>
                    <a href='/'>END VIOLENCE</a>
                    <a href='/'>U-REPORT</a>
                    <a href='/'>SUSTAINABLE GOALS - PRACTICAL GUIDE</a>
                    <a href='/'>YOUR RIGHTS</a>
                </div>
            </div>
        </div>
        <div class="links">
            <span>PARENTS & CAREGIVERS</span>
            <a href='/'>VACCINES</a>
            <a href='/'>PRE-SCHOOL YEARS</a>
            <a href='/'>NUTRITION AND BREASTFEEDING</a>
            <a href='/'>EARLY LIFE TIPS!</a>
            <a href='/'>FACTS FOR LIFE</a>
        </div>
    </nav>
    <div class="copyright">
        <div class="logo">
            <img src="{% static "images/iogt-logo.svg" %}">
        </div>
        <div class="links">
            <a href="/terms-of-use">Terms of Use</a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/about-us">About Us</a>
        </div>
        <div>
            <span>© The Internet of Good Things. All Rights Reserved.</span>
        </div>
    </div>
</footer>
