{% load static menu_tags i18n wagtailimages_tags home_tags wagtailcore_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% wagtail_site as current_site %}

<header class="xs-home-header">
    <a href="{% translated_home_page_url LANGUAGE_CODE %}" >
        {% image settings.home.SiteSettings.logo width-60 class='xs-image' %}
    </a>
        <select class='xs-home-header__select'>
            {% for language in languages %}
                <option value="{{ language.name_local }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>{{ language.name_local }}</option>
            {% endfor %}
        </select>  
        <a class="js-search-btn" href="{% url "search" %}">
            <img src="{% static "icons/search.svg" %}" alt="Search" class='xs-home-header__search'>
        </a>
</header> 

<header class="sm-home-header">
    <a href="{% translated_home_page_url LANGUAGE_CODE %}" >
        {% image settings.home.SiteSettings.logo fill-102x40 as logo %}
        <img src="{{ logo.url }}" />
    </a>
    <div class="sm-home-header__options">
        {% if page %}
            {% language_switcher page %}
        {% endif %}
        <a class="js-search-btn" href="{% url "search" %}">
            <img src="{% static "icons/search.svg" %}" alt="Search" class='sm-home-header__search'>
        </a>
    </div>
</header>  