{% load static menu_tags %}
<header class="header">
    <div class="container header__container">
        <div class="header__left">
            <a href="/" class="logo">
                <img src="{% static "/images/logo.svg" %}" alt="Logo">
            </a>
        </div>
        <div class="header__right">
            <div class="select header__select js-select">
                <div class="select__selected"><p>English</p>
                    <div class="select__selected-icon"><img
                            src="{% static "/images/icons/arrow-down.svg" %}"
                            alt="Arrow down">
                    </div>
                </div>
                <div class="select__options">
                    <div class="select__option select__option--selected">
                        <p>English</p>
                    </div>
                    <div class="select__option"><p>French</p></div>
                    <div class="select__option"><p>Bangi Me</p></div>
                    <div class="select__option"><p>Bayot</p></div>
                    <div class="select__option"><p>Dompo</p></div>
                    <div class="select__option"><p>Ega</p></div>
                    <div class="select__option"><p>Gomba</p></div>
                    <div class="select__option"><p>Gumuz</p></div>
                </div>
            </div>
            <form class="search">
                <a class="search__btn js-search-btn" href="/search.html">
                    <img src="{% static "/images/icons/search.svg" %}"
                         alt="Search">
                </a>
            </form>
        </div>
    </div>
</header>
