{% load static wagtailimages_tags menu_tags home_tags image_tags %}
{% load static wagtailimages_tags menu_tags home_tags generic_components image_tags %}

<nav class="nav-bar">
        <div class="nav-bar__wrap" style="background-color:{{navbar_background_color}}">
        {% for item in menu_items %}
            {% menu_item_background_color item as menu_item_background_color %}
            {% menu_item_font_color item as menu_item_font_color %}
            {% get_menu_icon item as menu_icon %}
            {% primary_button title=item.text icon_path=menu_icon href=item.href font_color=menu_item_font_color background_color=menu_item_background_color is_svg_icon=True %}
        {% endfor %}
    </div>
</nav>
