{% load wagtailcore_tags i18n wagtailimages_tags %}

<a href="{% pageurl value %}" class="articles-list__item">
    <div class="articles-list__item-content">
        <div class="articles-list__item-header articles-list__item-header--red">
            <p class="articles-list__item-tag">{{ value.specific.section }}</p>
            {% if value.specific.allow_comments %}
                <span class="articles-list__item-comment">{{ value.comments | length }}</span>
            {% endif %}
        </div>
        <div class="articles-list__item-text">
            <p>{{ value.title }}</p>
        </div>
    </div>
    <div class="articles-list__item-img">
        {% image value.specific.lead_image original %}
    </div>
</a>
