{% load static wagtailcore_tags i18n questionnaires_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/questionnaires.css' %}">
{% endblock %}

<div class="questionnaire-container container">
    <h1 class="title polls-widget__title">{{ page.title }}</h1>
    <form action="{% pageurl page %}?back_url={{ request.path }}" method="POST">
        {% csrf_token %}
            {% for field in form %}
                <div class="quest-item">
                    <div class="quest-item__header">
                        <div class="quest-item__header">
                            {% field_counter form forloop form_length fields_step page %}
                            {% field_description field %}
                        </div>
                    </div>
                    <div class="quest-item__desc">
                        {% if field.widget_type != "checkbox" %}
                            <p>{{ field.label }}</p>
                        {% endif %}
                    </div>
                    {% render_field field %}
                </div>
            {% endfor %}
        <button type="submit" class="cust-btn cust-btn--dark polls-widget__submit">
            <span>{{ page.submit_button_text }}</span>
        </button>
    </form>
</div>
