{% load wagtailimages_tags %}

<h4>Default</h4>
{% image value width-360 %}
<h4>Quality: 50</h4>
{% image value width-360 jpegquality-50 %}
<h4>Quality: 55</h4>
{% image value width-360 jpegquality-55 %}
<h4>Quality: 60</h4>
{% image value width-360 jpegquality-60 %}
<h4>Quality: 65</h4>
{% image value width-360 jpegquality-65 %}
<h4>Quality: 70</h4>
{% image value width-360 jpegquality-70 %}
<h4>Quality: 75</h4>
{% image value width-360 jpegquality-75 %}
<h4>Quality: 80</h4>
{% image value width-360 jpegquality-80 %}
<h4>Quality: 85</h4>
{% image value width-360 jpegquality-85 %}
<h4>Quality: 90</h4>
{% image value width-360 jpegquality-90 %}
<h4>Quality: 95</h4>
{% image value width-360 jpegquality-95 %}