{% load wagtailcore_tags i18n %}

<div>
    <video preload="metadata" width="320" height="240" controls playsinline webkit-playsinline>
        {% for source in value.sources %}
            <source src="{{ source.src }}"{% if source.type and source.type != "application/octet-stream" %} type="{{ source.type }}"{% endif %}>
        {% endfor %}
        {% translate "Your browser does not support video playback." %}
    </video>
</div>
<p class='article__content--video'>{% blocktranslate %}If you cannot view the above video, you can instead {{ start_link }}download it{{ end_link }}.{% endblocktranslate %}</p>