{% extends "messaging/base.html" %}
{% load messaging_tags %}

{% block content %}
    <div class="chat">
        <h1>Chat</h1>
        <ul class="chat-links">
            {% for user_thread in user_threads %}
                <li {% if not user_thread.is_read %}class="active"{% endif %}>
                    <a href="{% url "messaging:thread" thread_id=user_thread.thread.id %}">
                        <strong class="title">{{ user_thread.thread.subject }}</strong>
                        <span>{{ user_thread.thread.latest_message.text }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="search-box">
            <input type="text" placeholder="search" class="search-box">
            <button type="button" class="btn-search">search</button>
        </div>
    </div>
{% endblock %}