{% extends "messaging/base.html" %}
{% load messaging_tags %}

{% block content %}
<div class="chat">
    <h1>Chat</h1>
    <ul class="chat-links">
        {% for user_thread in user_threads %}
            <li {% if not user_thread.is_read %}class="active"{% endif %}>
                <a href="{% url "messaging:messagev2" thread_id=user_thread.thread.id %}">
                    <strong class="title">{{ user_thread.thread.subject }}</strong>
                    <span>{{ user_thread.thread.latest_message.text }}</span>
                </a>
            </li>
        {% endfor %}
{#        <li class="active">#}
{#            <a href="#">#}
{#                <strong class="title">U-Report</strong>#}
{#                <span>You have received new message</span>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="#">#}
{#                <strong class="title">Youth Report</strong>#}
{#                <span>Start chatting</span>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="#">#}
{#                <strong class="title">Healthbody</strong>#}
{#                <span>Start chatting</span>#}
{#            </a>#}
{#        </li>#}
    </ul>
</div>
{% endblock %}