{% extends "messaging/base.html" %}
{% load messaging_tags %}

{% block content %}
<div class="chat">
    <a href="#" class="btn-back">Back</a>
    <h1> U-Report </h1>
    <div class="messages">
        <div class="message">
            <time class="message-time">Today 11:33</time>
            <div class="message-box">
                Hello, how can I help you? Select a question from the list or type your question below.
            </div>
        </div>
        <div class="message reply">
            <time class="message-time">Today 11:33</time>
            <div class="message-box">
                Hello, how can I help you? Select a question from the list or type your question below.
            </div>
        </div>
    </div>
    <ol class="covid-info-link">
        <li><a href="#">1. Is Covid-19 seerious?</a></li>
        <li><a href="#">2. Should I wear mask?</a></li>
    </ol>
    <div class="login-info">
        <a href="#" class="login">Log in / Create account</a>
        <p>Log in to save your chat history and receive updates</p>
    </div>
</div>
{% endblock %}