{% extends "messaging/base.html" %}
{% load messaging_tags %}

{% block body_class %}{{ block.super }} messaging-thread{% endblock %}

{% block content %}
<div class="messaging-thread-detail-container">
    <h2 class="with-actions">
        {{ thread.subject }}
        <a class="button" href="{% url "messaging:thread_delete" thread.pk %}">Delete Thread</a>
    </h2>

    <section class="thread-messages">
        {% for message in thread.messages.all %}
            <div class="thread-message">
                <div class="message-byline">
                    {% if message.sent_from_bot %}
                        <div class="message-from">{{ thread.chatbot.display_name }}</div>
                    {% else %}
                        <div class="message-from">{{ message.sender.username }}</div>
                    {% endif %}
                    <div class="message-sent">{{ message.sent_at }}</div>
                </div>
                <div class="message-content">{{ message.text|urlize|linebreaks }}</div>
                {% for quick_reply in message.quick_replies %}
                    {% render_quick_reply_form thread user quick_reply %}
                {% endfor %}
            </div>
        {% endfor %}
    </section>

    <form class="comment-form" action="{% url "messaging:thread_view" thread.pk %}" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="form-actions">
            <a href="{% url "messaging:inbox" %}" class="cancel">Cancel</a>
            <button>Send</button>
        </div>
    </form>
</div>
{% endblock %}
