{% extends "messaging/base.html" %}
{% load messaging_tags humanize i18n static wagtailimages_tags %}

{% block content %}
    <div class="chat">
        <a href="{% url 'messaging:inbox' %}" class="btn-back">{% translate "Back" %}</a>
        <h1> {{ thread.subject }} </h1>
        <div class="load-more-button">
            <a href="{% url 'messaging:thread' thread_id=thread.id %}?num_results={{ load_more_num_results }}">{% translate 'More' %}</a>
        </div>
        <div class="messages">
            {% for message in thread_messages %}
                {% comment %} {% if message.sender.is_rapidpro_bot_user %}
                    <div class="message">
                {% else %}
                    <div class="message reply">
                {% endif %} {% endcomment %}
                {% if message.is_chatbot_message %}
                    <div class="message">
                {% else %}
                    <div class="message reply">
                {% endif %}
            <time class="message-time">{{ message.sent_at|naturaltime }}</time>
            <div class="message-box">
                {{ message.text|urlize|linebreaks }}
                <div class="attachment-box">
                    {% for attachment in message.attachments.all %}
                        <div class="attachment-line">
                            {% if attachment.image is not None %}
                                {% image attachment.image fill-50x50 %}
                                <a href="{% get_media_prefix %}{{ attachment.image.file }}" download>{% translate "Download" %}</a>
                            {% endif %}
                            {% if attachment.file is not None %}
                                <a href="{% get_media_prefix %}{{ attachment.file }}" download> {{ attachment.file }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if message.id == most_recent_message_id %}
                <div class="quick-replies">
                    {% for quick_reply in message.quick_replies %}
                        {% render_quick_reply_form thread user quick_reply %}
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            {% endfor %}

            <div class="quick-reply-form">
                <form action="{% url 'messaging:thread' thread.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="thread" value="{{ thread.pk }}"/>
                    <input type="hidden" name="user" value="{{ user.pk }}"/>
                    <div class="search-box">
                        <input type="text" name="text" class="search-box">
                        <button type="submit" class="btn-search add">{% translate 'Reply' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}