{% load static wagtailcore_tags i18n questionnaires_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/questionnaires.css' %}">
{% endblock %}

<div class="questionnaire-container container"
     style="color:{{ font_color }}; background:{{ background_color }};">
    <h1 class="title {{ questionnaire.get_type }}-page__title">{{ questionnaire.title }}</h1>
    {% if user.is_authenticated or request.is_preview or questionnaire.allow_anonymous_submissions %}
        {% if form %}
            {{ questionnaire.description }}
            <form action="{% get_action_url questionnaire questionnaire fields_step request form %}" method="POST">
                {% csrf_token %}
                <div class="{{ questionnaire.get_type }}-page__content">
                    {% for field in form %}
                        <div class="quest-item">
                            <div class="quest-item__header">
                                <div class="quest-item__header">
                                    {% field_description field %}
                                </div>
                            </div>
                            <div class="quest-item__desc">
                                {% if field.widget_type != "checkbox" %}
                                    <p>{{ field.label }}</p>
                                {% endif %}
                            </div>
                            {% render_field field %}
                        </div>
                    {% endfor %}
                </div>
                {% include 'questionnaires/tags/terms_and_conditions.html' with questionnaire=questionnaire %}
                <div class="survey-page__btns">
                    {% render_submit_button fields_step questionnaire %}
                </div>
            </form>
        {% else %}
            {% include 'questionnaires/tags/already_completed.html' %}
        {% endif %}
    {% else %}
        {% include 'questionnaires/tags/login_to_participate.html' %}
    {% endif %}
</div>
