{% load static wagtailcore_tags i18n questionnaires_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/questionnaires.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/polls.css' %}">
{% endblock %}

<div class="questionnaire-container container"
     style="color:{{ font_color }}; background:{{ background_color }};">
    <h1 class="title polls-widget__title">{{ questionnaire.title }}</h1>
    {% if user.is_authenticated or request.is_preview or questionnaire.allow_anonymous_submissions %}
        {% if form %}
            {{ questionnaire.description }}
            <form action="{% pageurl questionnaire %}?back_url={{ request.path }}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="quest-item">
                        <div class="quest-item__desc">
                            {% if field.widget_type != "checkbox" %}
                                <p>{{ field.label }}</p>
                            {% endif %}
                        </div>
                        <div class="quest-item__header">
                            <div class="quest-item__header">
                                {% field_description field %}
                            </div>
                        </div>
                        {% render_field field %}
                    </div>
                {% endfor %}
                {% include 'questionnaires/tags/terms_and_conditions.html' with questionnaire=questionnaire %}
                <div class="{{ questionnaire.get_type }}-page__btns">
                    {% render_submit_button questionnaire %}
                </div>
            </form>
        {% else %}
            {% include 'questionnaires/tags/already_completed.html' with page=questionnaire %}
            {% if questionnaire.show_results %}
                 {% for answer, count, is_selected in results %}
                    <div class="cust-check cust-check--white polls-widget__item">
                        <div class="cust-check__title">
                            <div class="cust-check__title-left">
                                <span>{{ answer }}</span>
                            </div>
                            <div class="cust-check__title-right">
                                <span class="cust-check__percent">{{ count }}
                                    {% if result_as_percentage %}%{% endif %}</span>
                            </div>
                            <div class="cust-check__percent-item"
                                 style="width: {{ count }}%"></div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% else %}
        {% include 'questionnaires/tags/login_to_participate.html' %}
    {% endif %}
</div>
