{% load i18n %}

{% with type=field.widget_type %}
    {% if not field.field.required or field.help_text or type == "radioselect" or type == "select" or type == "checkboxselectmultiple" or type == "selectmultiple" or type == "checkbox" %}
        <p class="quest-item__step-desc">
        <span>
            {% if not field.field.required %}
                {% translate "Optional" %}<br>
            {% endif %}
            {% if field.help_text %}
                {% translate field.help_text %}
            {% elif type == "radioselect" or type == "select" %}
                {% translate "Select one" %}
            {% elif  type == "checkboxselectmultiple" or type == "selectmultiple" %}
                {% translate "Check all that apply" %}
            {% elif type == "checkbox" %}
                {% translate "Check if applies" %}
            {% endif %}
        </span>
        </p>
    {% endif %}
{% endwith %}
