{% load static wagtailcore_tags wagtailimages_tags %}

<div class="desktopSubSections">
    {% for poll in polls %}
    <div class="subSectionsContainer">
        <div class="desktopSubSectionsContainer" style="border-bottom: medium solid rgb(191, 0, 18);">
            <div class="image">
                <a href="{% pageurl poll %}">
                    {% image poll.specific.lead_image fill-336x186 class="mainImage" %}
                </a>
            </div>
            <div class="content">
                <div style="color: rgb(191, 0, 18);" class="tag">
                    <div class="byline">
                        {{ poll.first_published_at|date }} /
                        <span class="author">by {{ poll.owner.get_full_name }}</span>
                    </div>
                </div>
                <div class="title">
                    <a href="{% pageurl poll %}">
                        <span>{{ poll.title }}</span>
                    </a>
                </div>
                <p class="desc">{{ poll.specific.description|striptags|truncatewords:21 }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
