{% load static wagtailcore_tags wagtailimages_tags questionnaires_tags i18n %}

{% for poll in polls %}
    {% if poll.direct_display %}
        <div style="padding-bottom: 10px">
        {% render_questionnaire_form poll %}
        </div>
    {% else %}
        <a href="{% pageurl poll %}">
            <span class='quiz__details'>
                <p>{% translate "POLL" %}</p>
                <p>{{ poll.title }}</p>
                {% include 'questionnaires/index_page_description_lines.html' with page=poll %}
            </span>
            <div class="quiz__imageholder">
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 9L5 5.00033L1 1"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </a>
    {% endif %}
{% endfor %}
