{% load questionnaires_tags i18n %}

{% if field.widget_type == 'checkbox' %}
    {% render_checkbox field %}
{% elif field.widget_type == 'checkboxselectmultiple' %}
    {% render_checkboxes field %}
{% elif field.widget_type == 'select' %}
    {% render_select field %}
{% elif field.widget_type == 'selectmultiple' %}
    {% render_select field True %}
{% elif field.widget_type == 'textarea' %}
    {% render_textarea field %}
{% elif field.widget_type == 'radioselect' %}
    {% render_radios field %}
{% else %}
    {% render_text_field field %}
{% endif %}
{% for err in  field.errors %}
    <p class="cust-input__error">{% translate err %}</p>
{% endfor %}
