.action-add-block-paragraph_v1_legacy {
    text-decoration: line-through;
    pointer-events: none;
    background-color: gray;
}

.red-help-text p.help {
    color: red;
    font-weight: bold;
}

.disabled-clean-name textarea {
    pointer-events: none;
    background-color: #e6e6e6;
    color: #4d4d4d;
}

.warning {
    color: #EE404C;
    font-size: 14px;
    background-color: white;
    margin-top: 16px;
    border-radius: 3px;
    display: flex;
    max-width: max-content;
    align-items: flex-start;
    padding: 8px 20px;
}

.warning .svg-wrapper {
    min-width: 20px;
    height: 20px;
    margin-right: 10px;
}

.warning .svg-wrapper img {
    height: 100%;
    width: 100%;
}
