@import "../../../../styles//mixins";

.related-articles {
    margin: 0px 12px;
    font-family: Poppins;
    font-style: normal;
  
    h2 {
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      color: $black;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      p {
        width: 40%;
        font-weight: bold;
        margin-right: 5px;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0.01em;
      }
    }
  
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0px;
      border-bottom: 1px solid $fog;
      text-decoration: none;
      font-weight: bold;
      font-size: 10px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: $black;
    }
  
    img {
      border-radius: 8px;
      width: 50%;
      height: auto;
    }
  
    &__img--sm {
      display: none;
    }
  
    @include sm {
      margin: 0px 20px;
  
      h2 {
        height: 28px;
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
      }
  
      ul {
        p {
          width: 50%;
          font-size: 16px;
          margin-right: 5px;
          line-height: 24px;
        }
      }
  
      a {
        padding: 16px 0px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: $black;
      }
  
      &__img--xs {
        display: none;
      }
  
      &__img--sm {
        display: block;
      }
    }
  }

  .questionnaire-components {
    margin: 40px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: inherit;
    }
  
    p:first-of-type {
      font-weight: 500;
      font-size: 8px;
      line-height: 12px;
      text-transform: uppercase;
    }
  
    p {
      font-family: Poppins;
      font-style: normal;
      padding-right: 20px;
      margin: 0;
    }
  
    p:nth-of-type(2n) {
      font-weight: bold;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.01em;
    }
  
    &__component {
      width: 100%;
      margin: 10px;
      padding: 8px 12px;
      border-radius: 8px;
    }
  
    svg {
      stroke: currentColor;
    }
  
    @include sm {
      margin: 0px 20px;
  
      p:first-of-type {
        font-size: 12px;
        line-height: 16px;
      }
  
      p {
        padding-right: 20px;
        margin: 0;
      }
  
      p:nth-of-type(2n) {
        font-size: 16px;
        line-height: 22px;
      }
  
      &__component {
        margin: 16px;
        padding: 8px 12px;
        border-radius: 8px;
      }
    }
  }

  .cache-banner {
    display: none;
  
    @include sm {
      display: flex;
      flex-direction: column;
      padding: 12px;
      padding-top: 8px;
      left: 0px;
      top: 0px;
      background-color: $blue-cache-banner;
  
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
      }
  
      p:nth-of-type(2n) {
        font-weight: 700;
      }
  
      &__download {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 12px;
        border: none;
        height: 26px;
        background: $unicef;
        border-radius: 8px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: $white;
      }
  
      &__close-holder {
        display: flex;
        justify-content: flex-end;
  
        &__button {
          padding: 0px 4px;
          background: $unicef;
          border: none;
          border-radius: 40px;
          height: 20px;
          width: 20px;
          background-image: url("/static/icons/cancel.svg");
          background-repeat: no-repeat;
          border: none;
        }
      }
    }
  }