{% extends 'account/base.html' %}
{% load i18n static image_tags %}

{% block title %}{% translate "Profile" %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/user-profile.css' %}">
{% endblock %}

{% block allauth_content %}
    {% if user.username %}
        <h1 class="title profile__title">
            {% blocktranslate trimmed with username=user.username %}
                Hey, {{ username }}
            {% endblocktranslate %}
            <span class="profile__icon">{{ user.username | first | upper }}</span>
        </h1>
    {% endif %}
    <div class="profile__btns">
        <a href="{% url 'account_change_password' %}" class="icon-btn profile__btn">
            <span class="icon-btn__icon">
                <img src="{% static "icons/lock.png" %}" alt="lock icon">
            </span>
            <span class="icon-btn__title">{% translate "Change Digital Pin" %}</span>
        </a>
        <a href="{% url "account_logout" %}" class="icon-btn profile__btn">
            <span class="icon-btn__icon">
                {% render_png_from_svg 'static/icons/arrow_icon_left.svg' attrs='alt="lock icon"'%}
            </span>
            <span class="icon-btn__title">{% translate "Log out" %}</span>
        </a>
    </div>
{% endblock %}
