{% extends 'account/base.html' %}
{% load i18n static %}

{% block title %}{% trans "Personal Details" %}{% endblock %}

{% block allauth_content %}
    <h1 class="title profile__title">{% trans "Personal Details" %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="profile-form__btns">
            <button type="submit"
                    class="cust-btn cust-btn--dark profile-form__btn"><span>Save changes</span>
            </button>
        </div>
    </form>
{% endblock %}
