{% extends 'account/base.html' %}
{% load i18n static image_tags generic_components %}

{% block title %}{% translate "Profile" %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/user-profile.css' %}">
{% endblock %}

{% block allauth_content %}
    {% if user.username %}
        <h1 class="title profile__title">
            {% blocktranslate trimmed with username=user.username %}
                Hey, {{ username }}
            {% endblocktranslate %}
            <span class="profile__icon">{{ user.username | first | upper }}</span>
        </h1>
 {% endif %}
     {# Show notification banner only if preference is not yet set #}
    <div class="profile__btns">
        {% url 'notification_settings' as notify_url %}
        {% primary_button title='Notification Preference' href=notify_url icon_path='icons/bell-solid.svg' extra_classnames='notification-pref-btn' %}
        {% url 'quiz_results' as quiz_result %}
            {% primary_button title='My Quiz Results' href=quiz_result icon_path='icons/quiz.svg' extra_classnames='notification-pref-btn' %}
        {% url 'my_activity' as activity_url %}
            {% primary_button title='My Activity' href=activity_url icon_path='icons/chat.svg' extra_classnames='notification-pref-btn' %}
        {% url 'user_profile_edit' as profile_edit %}
            {% primary_button title='Edit Profile' href=profile_edit icon_path='icons/profile.svg' extra_classnames='notification-pref-btn' %}
        <div id="deleteAccountBtn">
          {% primary_button title='Delete Account' href='#' icon_path='icons/profile.svg' extra_classnames='notification-pref-btn' %}
        </div>
            {% url 'account_change_password' as change_password_url %}
        {% primary_button title='Change Digital Pin' href=change_password_url icon_path='icons/lock.svg' extra_classnames='change-digital-pin' %}
        {% url 'account_logout' as logout_url %}
        {% primary_button title='Log out' href=logout_url icon_path='icons/arrow_icon_left.svg' extra_classnames='logout-btn' %}
    </div>
{% endblock %}
{% block extra_js %}
  {{ block.super }}
  <div id="deleteModal" class="modal">
  <div class="modal-content">
    <h3>Confirm Delete</h3>
    <p>Are you sure you want to delete your account?</p>
    <div class="modal-actions">
      <button id="confirmDelete" class="confirm-btn btn btn-danger">Yes, Delete</button>
      <button id="cancelDelete" class="cancel-btn btn btn-secondary">Cancel</button>
    </div>
  </div>
  </div>
  <script>
    $(function () {
      $("#deleteAccountBtn a").click(function (e) {
        e.preventDefault();
        $("#deleteModal").fadeIn(200);
      });
      $("#cancelDelete").click(function () {
        $("#deleteModal").fadeOut(200);
      });
      $("#confirmDelete").click(function () {
        $("#deleteModal").fadeOut(200);
        $.ajax({
          url: "{% url 'delete_account' %}",
          type: "POST",
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function (response) {
            if (response.success) {
              showToast("✅ Account deleted successfully.", "success");
              setTimeout(() => {
                window.location.replace("{% url 'account_login' %}");
              }, 2000);
            } else {
              showToast("⚠️ Something went wrong while deleting the account.", "error");
            }
          },
          error: function (xhr, status, error) {
            showToast("❌ Error: Unable to delete account. Please try again.", "error");
          }
        });
      });
      $(window).on("click", function (e) {
        if ($(e.target).is("#deleteModal")) {
          $("#deleteModal").fadeOut(200);
        }
      });
    });
  </script>
  {% endblock %}