.footer {
    padding-top: 32px
}

.footer__link {
    margin-bottom: 8px
}

.footer__link:last-child {
    margin-bottom: 0
}

.footer__search {
    padding: 20px 0
}

.footer__nav hr {
    border: 1px solid #efefef
}

.footer__copyright {
    color: #9a9a9a;
    font-size: 8px;
    font-weight: 500;
    line-height: 16px;
    padding: 12px 0;
    text-align: center
}

