.footer {
    padding-top: 32px
}

.footer__link {
    margin-bottom: 8px
}

.footer__link:last-child {
    margin-bottom: 0
}

.footer__search {
    padding: 20px 0
}

.footer__nav hr {
    border: 1px solid #efefef
}

.footer__copyright {
    color: #9a9a9a;
    font-size: 8px;
    font-weight: 500;
    line-height: 16px;
    padding: 12px 0;
    text-align: center
}


.nav-bar {
    background-color: #0094f4
}

.nav-bar__wrap {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex
}

.nav-bar__item {
    width: 25%
}

.nav-bar-item a {
    -webkit-align-items: center;
    align-items: center;
    background-color: #0094f4;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 8px 0;
    text-decoration: none
}

.nav-bar-item.active a {
    background-color: #0070e2
}

.nav-bar-item__icon {
    display: block;
    height: 20px;
    width: 20px
}

.nav-bar-item__icon img {
    font-size: 10px
}

.nav-bar-item__title {
    color: #fff;
    font-size: 8px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 2px;
    text-align: center;
    width: 100%
}
