.header {
    background-color: #fff;
    border: 1px solid #efefef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 48px;
    position: relative;
    z-index: 2
}

.header, .header__container {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex
}

.header__container {
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.header__right {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex
}

.header__select {
    margin-right: 46px;
    z-index: 1
}

.select {
    position: relative
}

.select__selected {
    background-color: #fdd256;
    border-radius: 8px;
    height: 26px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-width: 74px;
    padding: 5px 12px;
    position: relative;
    z-index: 1
}

.select__selected, .select__selected-icon {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex
}

.select__selected-icon {
    margin-left: 7px;
    transition: all .45s
}

.select.active .select__selected-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.select__options {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .08), 0 1px 12px rgba(0, 0, 0, .04);
    left: 0;
    opacity: 0;
    padding-top: 26px;
    position: absolute;
    top: 0;
    transition: all .45s;
    visibility: hidden;
    width: 100%
}

.select.active .select__options {
    opacity: 1;
    visibility: visible
}

.select__option {
    margin: 3px 0;
    padding: 7px 12px
}

.select__option--selected p {
    display: inline;
    position: relative
}

.select__option--selected p:after {
    background-image: url("/static/images/icons/checked.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: -12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px
}

.select p {
    color: #303030;
    font: 600 10px/10px Poppins, sans-serif
}
