@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 600px) {
    body {
        background: #f7f9f9;
    }
}

* {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
}

#content-wrap {
    flex: 1 0 auto;
    position: relative;
}

#content {
    position: absolute;
    z-index: 10;
}

#new-content {
    display: flex;
    position: absolute;
    z-index: 20;
    width: 100vw;
    flex-grow: 1;
    pointer-events: none;
}

.fade-out {
    animation: fade-out-anim;
    animation-iteration-count: 1;
    animation-duration: 300ms;
}

.fade-in {
    animation: fade-out-anim;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-duration: 300ms;
}

.hide {
    opacity: 0;
    display: none;
}

.slide-in {
    animation: slide-in-anim;
    animation-iteration-count: 1;
    animation-duration: 300ms;
}


@keyframes slide-in-anim {
    0% {
        left: 100vw;
    }
    100% {
        left: 0vw;
    }
}

@keyframes fade-out-anim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}