@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    color: #444;
}

.container {
    padding: 0 8px;
    width: 100%
}

.container--main {
    padding: 0 4px
}

.showOnNonJSDevice {
    display: none;
}

img {
    display: block;
    max-width: 100%;
}

.header, .footer, .main, .nav {
    display: block;
}


.title {
    color: #303030;
    font-family: Poppins, sans-serif;
    font-size: 16px
}

.h2, .title {
    font-weight: 800;
    line-height: 20px
}

.h2 {
    font-size: 13px
}

.text {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px
}

@media only screen and (max-width: 600px) {
    body {
        background: #fff;
    }
}

#app {
    display: flex;
    flex-direction: column;
}

#content-wrap {
    flex: 1 0 auto;
}

.messages li {
    display: block;
    text-align: center;
    max-width: 400px;
    background-color: #20cd84;
    margin: 5px auto;
    padding: 5px;
}

input:focus, input:focus-visible {
    outline: none;
}

.cust-input {
    display: block;
    position: relative;
}

.cust-input input {
    background-color: #f7f7f9;
    border: 1px solid #efefef;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    padding: 8px 12px;
    width: 100%
}

.cust-input input:focus {
    background-color: transparent;
    border-color: #303030
}

.cust-input__error {
    color: #fb3d24;
    display: none;
    font-size: 8px;
    font-weight: 500;
    line-height: 14px;
    text-align: right
}

.cust-input.error input {
    border-color: #fb3d24
}

.cust-input--icon input {
    padding-left: 38px
}

.cust-input--icon .cust-input__icon {
    color: #9a9a9a;
    display: block;
    height: 16px;
    left: 12px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px
}

.cust-input--icon .cust-input__icon svg {
    display: block;
    max-height: 100%;
    max-width: 100%
}

.cust-check, .cust-input.error .cust-input__error {
    display: block
}

.cust-check input {
    display: none
}

.cust-check__title {
    -webkit-align-items: center;
    align-items: center;
    background-color: #f7f7f9;
    border: 1px solid #efefef;
    border-radius: 8px;
    display: -webkit-flex;
    display: flex;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 14px;
    padding: 8px 12px;
    transition: .45s
}

input:checked + .cust-check__title {
    background-color: #dadae3
}

.cust-btn {
    background: none;
    border: 1px solid #303030;
    border-radius: 100px;
    cursor: pointer;
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    transition: .3s;
    width: 100%
}

.cust-btn span {
    color: #303030;
    display: block;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    text-align: center
}

.cust-btn:hover {
    background-color: #303030
}

.cust-btn:hover span {
    color: #fff
}

.cust-btn--secondary {
    border: none;
    border-radius: 8px
}

.cust-btn--dark {
    background-color: #303030
}

.cust-btn--dark span {
    color: #fff
}

.cust-btn--dark:hover {
    background-color: #4a4a4a
}

.cust-btn--white {
    background-color: #fff;
    color: #303030
}

.cust-select {
    background-color: #f7f7f9;
    border: 1px solid #efefef;
    border-radius: 8px;
    display: block;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    padding: 8px 12px;
    width: 100%
}

.cust-select option {
    font-size: 14px;
    line-height: 14px;
    width: 100%
}

.icon-btn {
    -webkit-align-items: center;
    align-items: center;
    background-color: #f7f7f9;
    border: 1px solid #efefef;
    border-radius: 8px;
    display: -webkit-flex;
    display: flex;
    padding: 8px 12px;
    text-decoration: none;
    transition: .45s
}

.icon-btn__icon {
    display: block;
    height: 18px;
    width: 18px
}

.icon-btn__icon img {
    max-width: 100%;
    max-height: 100%;
}

.icon-btn__icon img {
    display: block
}

.icon-btn__title {
    color: #303030;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 16px;
    margin-left: 10px
}

.icon-btn:hover {
    background-color: #dadae3
}

.icon-btn--red {
    background-color: #fdebee;
    border-color: #fdebee
}

.icon-btn--red .icon-btn__title {
    color: #ee3851
}

.icon-btn--blue {
    background-color: #e8f8fd;
    border-color: #e8f8fd
}

.icon-btn--blue .icon-btn__title {
    color: #0094f4
}

.icon-btn--violet {
    background-color: #f3effb;
    border-color: #f3effb
}

.icon-btn--violet .icon-btn__title {
    color: #8b5cd6
}

.icon-btn--green {
    background-color: #e7f4f4;
    border-color: #e7f4f4
}

.icon-btn--green .icon-btn__title {
    color: #1a9090
}


.search {
    background: hsla(0, 0%, 100%, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    transition: all .45s;
    width: 100%
}

.search, .search__btn {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex
}

.search__btn {
    background-color: transparent;
    border: none;
    border-left: 1px solid #efefef;
    height: 24px;
    margin-left: auto;
    padding: 0 14px;
    z-index: 1
}

.search__btn img {
    max-width: 16px
}

.search__input {
    display: none;
    z-index: 1
}

.search__input input {
    background: transparent;
    border: none;
    color: #303030;
    outline: none;
    transition: all .45s
}

.search__input input:focus {
    color: #0094f4
}

.search__input input::-webkit-input-placeholder {
    font: 500 13px/13px Poppins, sans-serif
}

.search__input input:-ms-input-placeholder {
    font: 500 13px/13px Poppins, sans-serif
}

.search__input input, .search__input input::placeholder {
    font: 500 13px/13px Poppins, sans-serif
}

.search__input input::-webkit-input-placeholder {
    color: #9a9a9a
}

.search__input input:-ms-input-placeholder {
    color: #9a9a9a
}

.search__input input::placeholder {
    color: #9a9a9a
}

.search__close {
    background-color: transparent;
    border: none;
    display: none;
    height: 15px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 19px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    z-index: 1
}

.search__close:after, .search__close:before {
    background-color: #303030;
    content: "";
    display: block;
    height: 13px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1.5px
}

.search__close:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg)
}

.search__close:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg)
}

.search.active {
    background: #fff;
    z-index: 1
}

.search.active .search__btn {
    margin-left: 0
}

.search.active .search__close, .search.active .search__input {
    display: block
}

.search-page-form button {
    margin: 0
}

.search-results {
    background-color: #fff;
    transition: all .45s;
    width: 100%
}

.search-results__list {
    margin-bottom: 12px
}

.search-results__list-items {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.search-results__list-item {
    background: #f3effb;
    border-radius: 8px;
    margin-bottom: 8px
}

.search-results__list-item:last-child {
    margin-bottom: 0
}

.search-results__list-item a {
    color: #8b5cd6;
    display: block;
    padding: 5px 15px 5px 12px;
    position: relative;
    text-decoration: none
}

.search-results__list-item a:after {
    background-image: url(/images/icons/arrow-pink.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px
}

.search-results__list-item span {
    display: block;
    font: 500 8px/12px Poppins, sans-serif;
    text-transform: uppercase
}

.search-results__list-item p {
    font: 700 10px/16px Poppins, sans-serif
}

.search-results__text {
    background-color: transparent;
    border: none;
    font: 700 10px/10px Roboto, sans-serif;
    margin: 0;
    padding: 0
}

.search-results__header {
    padding: 20px 0
}

.search-results__header-container {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-right: 22px
}

.search-results__view {
    position: relative
}

.search-results__view:after {
    background-image: url(/images/icons/arrow-down.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    right: -10px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
    width: 6px
}

.search-results__pagination {
    margin-bottom: 30px
}

.search-variants {
    background: #fff;
    border-radius: 0 0 12px 12px;
    left: -1px;
    opacity: 0;
    padding: 48px 0 4px;
    position: absolute;
    top: 0;
    transition: all .45s;
    visibility: hidden;
    width: calc(100vw + 1px);
    z-index: 1
}

.search-variants.active {
    opacity: 1;
    visibility: visible
}

.search-variants__list {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.search-variants__item {
    border-bottom: 1px solid #efefef
}

.search-variants__item:last-child {
    border-bottom: 0
}

.search-variants__item a {
    color: #303030;
    display: block;
    font: 500 12px/16px Poppins, sans-serif;
    letter-spacing: .01em;
    padding: 8px 0;
    position: relative;
    text-decoration: none
}

.search-variants__item a:after {
    background-image: url(/images/icons/arrow-down.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
    width: 8px
}

.search-not-found {
    padding: 45px 0 60px;
    width: 100%
}

.search-not-found__title {
    text-align: center
}

.search-not-found__text {
    color: #9a9a9a;
    margin-top: 16px;
    text-align: center
}

.nav-bar {
    background-color: #0094f4
}

.nav-bar__wrap {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex
}

.nav-bar__item {
    width: 25%
}

.nav-bar-item a {
    -webkit-align-items: center;
    align-items: center;
    background-color: #0094f4;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 8px 0;
    text-decoration: none
}

.nav-bar-item.active a {
    background-color: #0070e2
}

.nav-bar-item__icon {
    display: block;
    height: 20px;
    width: 20px
}

.nav-bar-item__icon img {
    max-width: 100%;
    max-height: 100%;
}

.nav-bar-item__title {
    color: #fff;
    font-size: 8px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 2px;
    text-align: center;
    width: 100%
}
