{% load clean_html %}
{% for n in notifications %}
{% if n.data.url %}
<a href="#"
  data-url="{{ n.data.url }}"
    class="notification-item {% if n.unread %} unread {% else %} read {% endif %} {% if n.is_clicked %} clicked {% else %} not_clicked {% endif %}"
    data-id="{{ n.id }}"
    onclick="handleNotificationClick(event, this)">
    <div class="notification-body">
        <p class="notification-text notification-title">
            {{ n.verb }}
            {% if not n.is_clicked %}<span class="unread-dot"></span>{% endif %}
        </p>
        <small style="color: #6c757d; font-size: 0.75rem;">{{ n.timestamp|timesince }} ago</small>
    </div>
    <p style="color: #333; font-size: 0.85rem; margin: 10px 0;">{{ n.description|strip_html }}</p>
    {% if n.actor.notification_tags.all %}
        <p style="font-size: 0.75rem; color: #555; margin: 0;">
            <strong>Topic(s):</strong>
            {% for tag in n.actor.notification_tags.all %}
                {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
</a>
{% else %}
<div class="notification-item notification-item {% if n.unread %} unread {% else %} read {% endif %}"
    data-id="{{ n.id }}">
    <div class="notification-body">
        <p class="notification-text notification-title">
            {{ n.verb }}
        </p>
        <small style="color: #6c757d; font-size: 0.75rem;">{{ n.timestamp|timesince }} ago</small>
    </div>
    <p class="color: #333; font-size: 0.85rem; margin: 10px 0;">
        {{ n.description|strip_html }}
    </p>
    {% if n.actor.notification_tags.all %}
        <p style="font-size: 0.75rem; color: #555; margin: 0;">
            <strong>Topic(s):</strong>
            {% for tag in n.actor.notification_tags.all %}
                {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
</div>
{% endif %}
{% empty %}
<div class="text-muted text-center p-3">No notifications yet!</div>
{% endfor %}
{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', markNotificationsAsRead);
</script>
{% endblock %}