{% extends "base.html" %}
{% block content %}

<div class="notification-header">
  <h2>All Notifications</h2>
</div>
<div id="notifications-list">
  {% for n in notifications %}
  {% if n.data.url %}
  <a href="#" data-url="{{ n.data.url }}"
    class="notification-item {% if n.unread %} unread {% else %} read {% endif %} {% if n.is_clicked %} clicked {% else %} not_clicked {% endif %}"
    data-id="{{ n.id }}" onclick="handleNotificationClick(event, this)">
    <div class="notification-body">
      <p class="notification-text notification-title mb-1">
        {{ n.verb }}
        {% if not n.is_clicked %}<span class="unread-dot"></span>{% endif %}
      </p>
      <p class="notification-text mb-1">
        {{ n.description | safe }}
      </p>
      <small style="color: #6c757d; font-size: 0.8rem;">{{ n.timestamp|timesince }} ago</small>
    </div>
  </a>
  {% else %}
  <div class="notification-item notification-item {% if n.unread %} unread {% else %} read {% endif %}"
    data-id="{{ n.id }}">
    <div class="notification-body">
      <p class="notification-text notification-title mb-1">
        {{ n.verb }}
      </p>
      <p class="notification-text mb-1">
        {{ n.description | safe }}
      </p>
      <small style="color: #6c757d; font-size: 0.8rem;">{{ n.timestamp|timesince }} ago</small>
    </div>
  </div>
  {% endif %}
  {% empty %}
  <div class="text-center p-3" style="color: #6c757d;">No notifications yet.</div>
  {% endfor %}
</div>

{% endblock %}
{% block extra_js %}
<script>
  document.addEventListener('DOMContentLoaded', markNotificationsAsRead);
</script>
{% endblock %}