<div class="row">
    <div class="left">
        <div class="col">
            <h2>Authentication headers</h2>
            <dl>
            {% for username, token in tokens.items %}
                <dt>{{ username }}</dt>
                <dd>
                    <span style="display: none">{{ token }}</span>
                    <button onclick="toggleVisibility(this)">Reveal Token</button>
                </dd>
            {% endfor %}
            </dl>
        </div>
    </div>
</div>

<script>
function toggleVisibility(button) {
  const tokenSpan = button.previousElementSibling;
  tokenSpan.style.display = (tokenSpan.style.display === "none") ? "block" : "none";
  button.textContent = (tokenSpan.style.display === "none") ? "Reveal Token" : "Hide Token";
}
</script>
