{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% translate "Log in" %}{% endblock %}

{% block allauth_content %}

    <h1>{% translate "Log in" %}</h1>

    {% get_providers as socialaccount_providers %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="profile-form__inputs">
            {{ form.as_p }}
        </div>
        <div class="profile-form__btns">
            <button type="submit"
                    class="cust-btn cust-btn--dark profile-form__btn">
                <span>{% translate "Log in" %}</span>
            </button>
            <a href="{% url 'account_signup' %}"
               class="cust-btn profile-form__btn"><span>{% translate "Create your account" %}</span></a>
        </div>
    </form>

{% endblock %}
