{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% translate "Sign Out" %}{% endblock %}

{% block allauth_content %}
<h1>{% translate "Sign Out" %}</h1>

<p>{% translate 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="cust-btn cust-btn--dark profile-form__btn" type="submit">
    <span>{% translate 'Sign Out' %}</span>
  </button>
</form>


{% endblock %}
