{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% translate "Reset PIN" %}{% endblock %}

{% block allauth_content %}

    <h1>{% translate "Reset PIN" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>
        {% translate "Forgot PIN" %}?
        {% translate "Enter your email address below, and we'll email instructions for setting a new one." %}
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="cust-btn cust-btn--dark profile-form__btn" type="submit" style="float:none;">
            <span>{% translate 'Reset PIN' %}</span>
        </button>
    </form>

    <p>{% blocktranslate trimmed %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</p>
{% endblock %}
