{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% translate "Change Digital Pin" %}{% endblock %}

{% block allauth_content %}
    <h1>{% translate "Change Digital Pin" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="cust-btn cust-btn--dark profile-form__btn" type="submit" name="action">
            <span>{% translate "Change Digital Pin" %}</span>
        </button>
        {% include "generic_components/back_button.html" %}
    </form>

{% if messages %}
    {% for message in messages %}
        {% if "Password" in message.message %}
            <script>
                setTimeout(function() {
                    window.location.href = "/";
                }, 2000);
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}

