{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% translate "Change Digital Pin" %}{% endblock %}

{% block allauth_content %}
    <h1>{% if token_fail %}{% translate "Bad Token" %}{% else %}{% translate "Change Digital Pin" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktranslate trimmed %}The password reset link was invalid, possibly because it has already been used. <a href="{{ passwd_reset_url }}">Please request a new password reset</a>.{% endblocktranslate %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="accounts-form-btn" type="submit" name="action" value="{% translate 'Change Digital Pin' %}"/>
            </form>
        {% else %}
            <p>{% translate 'Your PIN has been changed successfully.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
