{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% translate "Create your account" %}{% endblock %}

{% block allauth_content %}
    <h1 class="title profile__title">{% translate "Create your account" %}</h1>
    <form class="signup" id="signup_form" method="post"
          action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="profile-form__inputs">
            {{ form.as_p }}
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="profile-form__btns">
            <button type="submit"
                    class="cust-btn cust-btn--dark profile-form__btn">
                <span>{% translate "Create your account" %}</span>
            </button>
            <a href="{{ login_url }}"
               class="cust-btn profile-form__btn"><span>{% translate "Log in" %}</span></a>
        </div>
        <div class="text profile-form__desc">
            <p>
                {% translate "Placeholder text below Login button." %}
            </p>
        </div>
    </form>

{% endblock %}
