{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Create your account" %}{% endblock %}

{% block allauth_content %}
    <h1 class="title profile__title">{% trans "Create your account" %}</h1>
    <form class="signup" id="signup_form" method="post"
          action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="profile-form__inputs">
            {% for field in form %}
                {% if field.name != "gender" %}
                    {% if field.name != "email" %}
                        <label class="cust-input profile-form__input">
                            {{ field }}
                            {% if field.errors %}
                                <span class="cust-input__error">{% trans field.help_text %}</span> {% endif %}
                        </label>
                    {% endif %}
                {% else %}
                    {{ field }}
                    {% if field.errors %}
                        <span class="cust-input__error">{% trans field.help_text %}</span>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="profile-form__btns">
            <button type="submit"
                    class="cust-btn cust-btn--dark profile-form__btn">
                <span>{% trans "Create your account" %}</span>
            </button>
            <a href="{{ login_url }}"
               class="cust-btn profile-form__btn"><span>Log in</span></a>
        </div>
        <div class="text profile-form__desc">
            <p>
                A quia quas et atque eos vero temporibus quis ullam.
                Recusandae recusandae omnis aspernatur quisquam at dolorem
                aspernatur quod non.
            </p>
        </div>
    </form>

{% endblock %}
