{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Create your account" %}{% endblock %}

{% block allauth_content %}
    <h1 class="title profile__title">{% trans "Create your account" %}</h1>
    <form class="signup" id="signup_form" method="post"
          action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="profile-form__inputs">
            <label class="cust-input profile-form__input">
                <input name="username"
                       placeholder="Create Username"
                       type="text"
                       pattern="\S+.*">
                {#                <span class="cust-input__error">Invalid Username</span>#}
            </label>
            <label class="cust-input profile-form__input">
                <input name="password"
                       placeholder="Create 4 digit pin"
                       type="password"
                       pattern="\S+.*">
                {#                              <span class="cust-input__error">Invalid Pin</span>#}
            </label>
            <label class="cust-input profile-form__input">
                <input name="date_of_birth"
                       placeholder="DD/MM/YYYY"
                       type="date"
                       pattern="\S+.*">
                {#                    <span class="cust-input__error">Invalid Pin</span>#}
            </label>
            <select class="cust-select profile-form__input" name="gender">
                <option disabled>Tell us your gender</option>
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="profile-form__btns">
            <button type="submit"
                    class="cust-btn cust-btn--dark profile-form__btn"><span>Create your account</span>
            </button>
            <a href="{% url 'account_login' %}"
               class="cust-btn profile-form__btn"><span>Log in</span></a>
        </div>
        <p class="text profile-form__desc">A quia quas et atque eos vero
            temporibus quis ullam. Recusandae recusandae omnis aspernatur
            quisquam at dolorem aspernatur quod non.</p>
    </form>

{% endblock %}
