<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    
{% include head.html %}

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0">
    {% include navbar.html %}
    <main>
        <!-- Splash -->
        <section class="bg-image-kids d-flex flex-row justify-content-center align-items-center">
            <img src="{{ '/assets/img/IoGT_logo.png' | relative_url }}" alt="Logo of the Internet of Good Things"
                class="iogt-logo">
        </section>

        <!-- Intro video-->
        <section class="container pt-5 pb-5">
            <h2 id="video" class="display-5 text-center">IoGT Introductory Video</h2>
            <p class="lead pt-3 text-center text-secondary">Our mission explained in 2 minutes.</p>
            <div class="ratio ratio-16x9 text-center">
                <iframe width="844" height="475" src="https://www.youtube.com/embed/0kuZ4mCHwdE"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </section>

        <!-- A revolution -->
        <section class="container pt-5 pb-5">
            <h2 id="revolution" class="display-5 text-center">A Revolution in Information</h2>

            <div class="row pb-5">
                <div class="col col-lg-8">
                    <img src="{{ '/assets/img/feature_phone1.png' | relative_url }}"
                        alt="Set of three feature phones demonstrating IoGT appearance" class="img-fluid">
                </div>
                <div class="col-lg-4 align-self-center">
                    <p class="rev-text text-secondary">Internet of Good Things (IoGT) hosts mobile-packaged content
                        designed to
                        make life-saving
                        and life-improving information available for free, even on low end devices. IoGT is helping
                        communities
                        and frontline workers access educational and lifesaving information at the point of care.</p>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col col-lg-8">
                    <img src="{{ '/assets/img/feature_phone2.png' | relative_url }}"
                        alt="Set of three feature phones demonstrating IoGT appearance" class="img-fluid">
                </div>
                <div class="col-lg-4 align-self-center">
                    <p class="rev-text text-secondary">Topics and issues on Internet of Good Things include maternal
                        health,
                        hygiene, emergency
                        information on diseases such as Yellow fever, Polio and Cholera, HIV and sexual health advice
                        for
                        adolescents, Internet safety, positive parenting techniques and more. Including multimedia
                        elements
                        and 2-way communication features, the IoGT platform can also be used to capture feedback and
                        local
                        best practices from communities through polls and survey functionalities.</p>
                </div>
            </div>
        </section>

        <!-- Audience -->
        <section class="d-flex pb-5 pt-5 bg-image-family-candle" id="audience">
            <div class="container d-flex flex-column justify-content-center align-items-center">
                <img src="{{ '/assets/img/IoGT_icon_transparent.png' | relative_url }}" alt="Transparent IoGT icon"
                    class="img-fluid">
                <p class="text-light lead text-center fs-2 fw-normal">By connecting to the Internet of Good Things,
                    children,
                    adolescents, mothers, fathers, other family members, health trainers, caregivers, and communities
                    can gain
                    access to localized, updated, quality content directly on their mobile phone at anytime for free.
                </p>
            </div>
        </section>

        <!-- Why we do it -->
        <section class="container pb-5 pt-5">
            <h2 id="why" class="display-5 text-center">Why We Do It</h2>
            <p class="lead text-center text-secondary pt-3 pb-3">Information access is a primary determinant in access
                to other
                human rights, as it enables people to make informed decisions regarding their health, finances, and
                education,
                among others.</p>
            <div class="d-lg-flex align-items-center pb-4 pb-lg-3">
                <div class="flex-shrink-0 me-3">
                    <img src="{{ '/assets/img/women_child.jpg' | relative_url }}" alt="Two women with a child"
                        class="pb-3 pb-lg-0" width="304">
                </div>
                <div class="flex-grow-1 ms-lg-3">
                    <h3>Lack of access to information</h3>
                    <em class="lead">A leading cause of death and inhibitor for growth</em>
                    <p class="text-secondary">Today, nearly 6 million children (under 5 years old) die every year from
                        preventable
                        illness. That’s 15,000 children dying daily from things we can prevent.
                        These illnesses can be avoided if parents and caregivers are more informed about things such as
                        breastfeeding, handwashing with soap, safe sanitation, and HIV and AIDS prevention.</p>
                </div>
            </div>
            <div class="d-lg-flex align-items-center pt-lg-3">
                <div class="flex-grow-1 me-3">
                    <h3>IoGT bridging the digital divide</h3>
                    <em class="lead">Addressing the inequality in access to information</em>
                    <p class="text-secondary">While access to the Internet is increasing worldwide – between 2000-2015,
                        global
                        Internet
                        penetration grew 7 fold from 6.5% to 43% – millions of people still lack access to quality,
                        credible information. In some instances, this lack of information can be life-threatening;
                        in others, it constrains growth within society as well as in the economy. Billions of people
                        remain offline and are unable to access the knowledge economy. The technological revolution
                        can only be a game changer when more and more people can get online. And a game changer is
                        exactly what is needed.</p>
                </div>
                <div class="flex-shrink-0 ms-lg-3">
                    <img src="{{ '/assets/img/women_with_phone.jpg' | relative_url }}"
                        alt="Two women using a mobile phone" class="text-center" width="304">
                </div>
            </div>
        </section>

        <!-- School children -->
        <section class="d-flex pb-5 pt-5 bg-image-schoolchildren" id="audience">
            <div class="container d-flex flex-column justify-content-center align-items-center">
                <img src="{{ '/assets/img/IoGT_icon_transparent.png' | relative_url }}" alt="Transparent IoGT icon"
                    class="img-fluid">
                <h2 class="text-light text-center">IoGT empowering communities:</h2>
                <p class="text-light lead text-center fs-2 fw-normal">Students can learn skills relevant to future
                    careers;
                    mothers can learn skills on how to protect children; adolescents can learn about their rights,
                    citizens
                    and communities are provided the tools to report issues and demand change...</p>
            </div>
        </section>

        <!-- UX -->
        <section class="container pb-5 pt-5" id="ux">
            <img src="{{ '/assets/img/android_phones.png' | relative_url }}" alt="Andriod phones showing IoGT content"
                class="img-fluid text-center pb-5">
            <h3 class="text-center pb-2">
                <a href="https://www.internetofgoodthings.org/" class="text-reset">Click here to see it in action!</a>
            </h3>
            <h5 class="text-muted text-center"><em>Internet of Good Things is best played on a mobile device</em></h5>
        </section>

        <!-- Use cases -->
        <section class="container-fluid pb-5 pt-5" id="use">
            <div class="carousel slide carousel-dark" id="carousel" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for item in site.data.carousel.slides %}
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ forloop.index0 }}"
                        class="{% if forloop.index0 == 0 %} active {% endif %}" aria-current="true"
                        aria-label="Slide {{ forloop.index0 }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for item in site.data.carousel.slides %}
                    <div class="carousel-item {% if forloop.index0 == 0 %} active {% endif %}"
                        style="background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url({{ item.bg | relative_url }}) repeat repeat 50% 50%; height: 75vh;">
                        <div class="position-absolute container top-50 start-50 translate-middle">
                            <div class="row">
                                <div class="col-lg-7 d-flex flex-column justify-content-left">
                                    <h4 class="display-6 text-light">{{ item.title }}</h4>
                                    <p class="lead fs-6 text-light">{{ item.text }}</p>
                                    {% unless item.button == "none" %}<a href="{{ item.link | relative_url }}"
                                        class="btn btn-dark btn-lg w-50 align-self-center">{{ item.button }}</a>{%
                                    endunless %}
                                </div>
                                <div class="col-lg-5">
                                    <img src="{{ item.image | relative_url }}" alt="Image" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <!-- User profile-->
        <section class="container pt-5 pb-5" id="user-profile">
            <h2 class="display-5 text-center">Profiles</h2>
            <p class="lead pt-3 text-center text-secondary">Nwabisa is a 20-year-old woman living in Khayalitsha, an
                impoverished area on the extreme outskirts of Cape Town. Nwabisa was forced to leave high school at
                age 18, one year before graduating. Today Nwabisa keeps learning by using the Generation 2030 content
                on Internet of Good Things.</p>
            <div class="ratio ratio-16x9 text-center">
                <iframe width="844" height="475" src="https://www.youtube.com/embed/S1WrDjYSOqg"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </section>

        <section class="container pt-5 pb-5" id="dev-resources">
            <h2 class="display-5 text-center">Developer &amp; Implementer Resources</h2>
            <p class="lead pt-3 pb-3 text-center text-secondary">IoGT is supported by UNICEF with a network of open
                source
                developers.
                Access our code, launch guidelines, and community of practice through the resources below.</p>
            <p class="pb-3 fs-5">
                <a href="https://github.com/unicef/molo-iogt" class="fw-bold text-reset">IoGT's Dev Space on GitHub.</a>
                IoGT is a scaffold application for <a href="https://molo.readthedocs.io/" class="text-reset">Molo</a>
                using <a href="https://wagtail.io/" class="text-reset">Wagtail CMS</a>.
            </p>
            <p class="pb-3 fs-5">
                <a href="https://www.internetofgoodthings.org/" class="fw-bold text-reset">Sample IoGT Site.</a> This
                site
                includes all generic IoGT content available through UNICEF for localization. For more resources, contact
                the
                IoGT team at UNICEF.
            </p>
            <p class="pb-3 fs-5">
                <a href="https://drive.google.com/file/d/1aSLm6UiXzd3P-WO7LbCbBBuXt7kbWjA2/view?usp=sharing"
                    class="fw-bold text-reset">List of IoGT Deployments.</a> Currently, IoGT is only deployed with
                support from
                UNICEF country offices. As an open source solution, we invite interested third parties to use IoGT's
                code to
                support their own innovation needs under a BSD 2-Clause license.
            </p>
            <p class="pb-3 fs-5">
                <a href="https://unicef-my.sharepoint.com/:w:/g/personal/lmarkle_unicef_org/EUwlo0ohRP1Hk7fGbYhXCxUBjJPPfI7VGfN5kA2k_R87rA?e=bUOMSv"
                    class="fw-bold text-reset">Deployment / Launch Toolkit.</a> This toolkit was designed for UNICEF
                country
                offices, but can be adapted to support the needs of other implementers to scale IoGT.
            </p>
        </section>

        <!-- By the numbers -->
        <section class="container pt-5 pb-5" id="numbers">
            <h2 class="display-5 text-center pb-2">By the Numbers</h2>
            <p class="lead text-secondary text-center pb-2">Live Better Today</p>
            <div class="row justify-content-around">
                <div class="col-lg-3 mx-0 border rounded-3">
                    <div class="p-3">
                        <p class="lead text-center">65</p>
                        <p class="lead text-center">Countries and Territories</p>
                    </div>
                </div>
                <div class="col-lg-3 mx-0 border rounded-3">
                    <div class="p-3">
                        <p class="lead text-center">21</p>
                        <p class="lead text-center">Languages</p>
                    </div>
                </div>
                <div class="col-lg-3 mx-0 border rounded-3">
                    <div class="p-3">
                        <p class="lead text-center">1 Million</p>
                        <p class="lead text-center">Users and Counting</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</body>

</html>