{% load static wagtailcore_tags wagtailimages_tags questionnaires_tags i18n %}
<div class="quiz-page">
        <div class="container">
            <div class="quiz-page__banner quiz-answer-banner">
                <h1 class="title">{{ page.title }}</h1>
                <div class="quiz-answer-banner__content">
                    <p class="quiz-answer-banner__counter">{{ result|get_item:'total_correct' }}
                        / {{ result|get_item:'total' }}</p>
                    <p class="quiz-answer-banner__result-text">{% translate "Your results data!" %}</p>
                </div>
                {% include 'questionnaires/tags/quiz_buttons.html' %}
                {% if page.thank_you_text %}
                    <div class="quiz-page__description">{{ page.thank_you_text }}</div>
                {% endif %}
                <div class="quiz-answer-banner__answers">
                    <div class="quiz-answer-banner__answer success">{{ result|get_item:'total_correct' }}
                        {% translate "Correct" %}
                    </div>
                    <div class="quiz-answer-banner__answer error">
                        {% subtract result|get_item:'total' result|get_item:'total_correct' %} {% translate "Incorrect" %}</div>
                </div>
            </div>
            <div class="quiz-page__content" tabindex="0">
                {% for field in form.visible_fields %}
                    <div class="quest-item{% if fields_info|get_item:field.name|get_item:'is_correct' %} success {% else %} error{% endif %}">
                        <div class="quest-item__header">
                            <p class="quest-item__status">
                                {% if fields_info|get_item:field.name|get_item:'is_correct' %}
                                    {% translate "Correct" %}{% else %}
                                    {% translate "Incorrect" %}{% endif %}</p>
                        </div>
                        <div class="quest-item__desc">
                            <p>{{ field.label }}</p>
                        </div>
                        {% if field.widget_type in 'date,datetime,email,text,textarea,number,url' %}
                            <div class="quest-item__content" tabindex="0">
                                <label class="cust-check cust-check--2 quest-item__input{% if fields_info|get_item:field.name|get_item:'is_correct' %} success{% else %} error{% endif %}"
                                       tabindex="0">
                                    <div class="cust-check__title">
                                        <span class="cust-check__check"></span>
                                        <span>
                                            {% for val in fields_info|get_item:field.name|get_item:'selected_answer' %}
                                                {{ val }}
                                            {% endfor %}
                                        </span>

                                    </div>
                                    {% if not fields_info|get_item:field.name|get_item:'is_correct' %}
                                        <div class="quest-item__header">
                                            <p class="quest-item__status"
                                               style="color: #0070e2;">
                                                {% translate "Correct answer" %}:
                                            </p>
                                            <p class="quest-item__number"
                                               style="color:#71c083;">
                                                {{ fields_info|get_item:field.name|get_item:'correct_answer' }}
                                            </p>
                                        </div>
                                    {% endif %}
                                </label>
                            </div>
                        {% else %}
                            {% if field|length > 1 %}
                                {% for field_option in field %}
                                    <div class="quest-item__content" tabindex="0">
                                        {% get_feedback_options field field_option fields_info as answer_options %}
                                        <label class="cust-check cust-check--2 quest-item__input {{ answer_options.class }}"
                                               tabindex="0">
                                            <div class="cust-check__title">
                                                <span class="cust-check__check"
                                                      aria-label="{{ answer_options.aria_label }}"></span>
                                                <span>{{ field_option.choice_label }}</span>
                                            </div>
                                        </label>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="quest-item__content" tabindex="0">
                                    <label class="cust-check cust-check--2 quest-item__input{% if fields_info|get_item:field.name|get_item:'is_correct' %} success{% else %} error{% endif %}"
                                           tabindex="0">
                                        <div class="cust-check__title">
                                            <span class="cust-check__check"></span>
                                            <span>{{ field.value|lower }}</span>
                                        </div>
                                        {% if not fields_info|get_item:field.name|get_item:'is_correct' %}
                                            <div class="quest-item__header">
                                                <p class="quest-item__status"
                                                   style="color: #0070e2;">
                                                    {% translate "Correct answer" %}:
                                                </p>
                                                <p class="quest-item__number"
                                                   style="color:#71c083;">
                                                    {{ fields_info|get_item:field.name|get_item:'correct_answer' }}
                                                </p>
                                            </div>
                                        {% endif %}
                                    </label>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if fields_info|get_item:field.name|get_item:'feedback' != None %}
                            <div class="quest-item__message">
                                <p>{{ fields_info|get_item:field.name|get_item:'feedback' }}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% include 'questionnaires/tags/quiz_buttons.html' %}
            </div>
        </div>
    </div>