{% extends "base.html" %}
{% load static i18n home_tags questionnaires_tags wagtailcore_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
{% endblock %}

{% block content %}
    <div class="quiz-page">
        <div class="container">
            <h1 class="title quiz-page__title">{{ page.title }}</h1>
            {% if page.description %}
                <div class="quiz-page__description">{{ page.description }}</div>{% endif %}
            <form action="{% get_action_url page self fields_step request form %}"
                  method="POST" class="quiz-page__content">
                {% csrf_token %}
                {% for field in form %}
                    <div class="quest-item">
                        <div class="quest-item__header">
                            {% field_counter form forloop form_length fields_step page %}
                            {% field_description field %}
                        </div>
                        {% if field.widget_type != "checkbox" %}
                            <div class="quest-item__desc">
                                <p>{{ field.label }}</p>
                            </div>
                        {% endif %}
                        <div class="quest-item__content" tabindex="0">
                            {% render_field field %}
                        </div>
                    </div>
                {% endfor %}
                <div class="survey-page__btns">
                   {% render_submit_button fields_step page %}
                    <a href="{% translated_home_page_url LANGUAGE_CODE %}"
                       class="cust-btn cust-btn--clear survey-page__btn"><span>{% translate "Go to homepage" %}</span></a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
