{% extends "base.html" %}
{% load static i18n home_tags questionnaires_tags wagtailcore_tags wagtailimages_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/questionnaire.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
{% endblock %}

{% block content %}
    <div class="quiz-page">
        <div class="container">
            <h1 class="title quiz-page__title">{{ page.title }}</h1>
            {% image page.lead_image width-360 class='article__lead-img-featured' %}
            {% if page.description %}
                <div class="quiz-page__description">{{ page.description }}</div>
            {% endif %}
            {% if user.is_authenticated or request.is_preview or page.allow_anonymous_submissions %}
                {% if form %}
                    <form action="{% get_action_url page self fields_step request form %}"
                          method="POST" class="quiz-page__content">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="quest-item">
                                {% if field.widget_type != "checkbox" %}
                                    <div class="quest-item__desc">
                                        <p>{{ field.label }}</p>
                                    </div>
                                {% endif %}
                                <div class="quest-item__header">
                                    {% field_description field %}
                                </div>
                                <div class="quest-item__content" tabindex="0">
                                    {% render_field field %}
                                </div>
                            </div>
                        {% endfor %}
                        {% include 'questionnaires/tags/terms_and_conditions.html' with questionnaire=page %}
                        <div class="{{ page.get_type }}-page__btns">
                            {% render_submit_button fields_step page %}
                        </div>
                    </form>
                {% else %}
                    {% include 'questionnaires/tags/already_completed.html' %}
                {% endif %}
            {% else %}
                {% include 'questionnaires/tags/login_to_participate.html' %}
            {% endif %}
            {% include 'questionnaires/tags/go_to_homepage.html' %}
        </div>
    </div>
{% endblock content %}
