{% extends "base.html" %}
{% load static i18n questionnaires_tags wagtailcore_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
{% endblock %}

{% block content %}
    {% include 'back_button.html' with back_url=back_url %}
    <div class="quiz-page">
        <div class="container">
            <h1 class="title quiz-page__title">{{ page.title }}</h1>
            {% if page.description %}
                <div class="quiz-page__description">{{ page.description }}</div>{% endif %}
            <form action="{% get_action_url page self fields_step request form %} " method="POST" class="quiz-page__content">
                {% csrf_token %}
                {% for field in form %}
                    <div class="quest-item">
                        <div class="quest-item__header">
                            {% field_counter field form forloop form_length fields_step self %}
                            {% field_description field %}
                        </div>
                        {% if field.field.widget.input_type == "checkbox" and  field|length == 1 %}{% else %}
                            <div class="quest-item__desc">
                                <p>{{ field.label }}</p>
                            </div>
                        {% endif %}
                        <div class="quest-item__content" tabindex="0">
                            {% render_fields field "quiz" %}
                        </div>
                    </div>
                {% endfor %}
                <div class="survey-page__btns">
                   {% render_submit_button fields_step page %}
                    <a href="{{ request.site.root_url }}"
                       class="cust-btn cust-btn--clear survey-page__btn"><span>{% translate "Go to homepage" %}</span></a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
