@media only screen and (min-device-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) {
  /* DESKTOP ARTICLES VIEW COMPONENT */
  .desktopBanners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5%;
  }

  .mobileAndFeatureBannerContainer {
    display: none;
  }

  .tabletBanners {
    display: none;
  }

  .mobileBanners {
    display: none;
  }

  .featureBanners {
    display: none;
  }
}

/* DESKTOP ARTICLE COMPONENT */
@media only screen and (min-device-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) {
  .tabletBannerContainer{
    display:none;
  }

  .bannerContainer {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .desktopBannerContainer{
    margin: 10px;
    height: 100%;
  }

  .desktopBannerContainer .image {
    width: 100%;
    position:relative;
    display: inline-block;
  }

  .desktopBannerContainer .mainImage {
    width: 100%;
    height: 100%;
  }

  .desktopBannerContainer .share {
    background-color:white;
    border-radius: 200px;
    padding: 12px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 83%;
  }

  .desktopBannerContainer .content {
    font-family: 'Open Sans', sans-serif;
  }

  .desktopBannerContainer .content .title{
    color:#303030;
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    font-weight:700;
    line-height:30px;
    display:flex;
    align-items: center;
    height:80px;
  }

  .desktopBannerContainer .content .byline{
    color:#6B6B6B;
  }

  .tabletBannersRowContainer {
    margin-bottom: 5%;
  }

  .tabletBannersRowContainer .tabletBannersHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
  }

  .tabletBannersRowContainer .tabletBannersHeader h1 {
    font-size: 35px;
    color:#303030;
    margin-right:15px;
  }

  .bannersRow {
    display: flex;
  }

  .desktopBannerContainer .title a{
    text-decoration: none;
    color: black;
  }
}
