@import '../../../styles/mixins';

.section-page-details { 
   color: $white;
   display:flex;
   flex-direction: column;
   justify-content: space-around;
   padding-bottom: 22.55px;
   padding-top: 24px;
   min-height: 196px;

   &__back {
      padding:10px 0;
      color:white;
      text-decoration: none;
      width: 67px;
      height: 24px;
      margin-left: 12px;
      top: 56px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 30px;
      display:flex;
      justify-content: center;
      align-items: center;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color:$white;

      &--image1 {
         height: 12px;
         width: 8px;
         left: 18px;
         top: 6px;
         margin-right: 10px;
         border-radius: 0px;
      }
   }

   &__title{
      width: 111px;
      height: 28px;
      padding-left: 20px;
      top: 223.45px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 28px;
   }

   &__survey {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
      color:$black;
      padding: 8px 12px;
      margin: 0% 5%;
      padding-bottom: 22.5px;
      top: 72.78%;
      bottom: 7.1%;
      border-radius: 30px;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.01em;
      text-align: left;


      &--image1 {
         height: 22;
         width: 20px;
         left: 0px;
         top: 16.9847412109375px;
         border-radius: 0px;
         margin-right: 10px;
      }

      &--image2 {
         margin-left: 10px;
         height: 12px;
         width: 7px;
         left: 200px;
         top: 13px;
         border-radius: 0px;
      }
   }
}


.featured-content {
   margin: 0 12px;
   margin-top: 7px;
   margin-bottom: 19px;
   border-radius: 8px;
   padding:13px 12px;

   a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color:$black;
   }

   &--image1 {
      height: 22;
      width: 20px;
      left: 0px;
      top: 16.9847412109375px;
      border-radius: 0px;
      margin-right: 10px;
   }

   &--image2 {
      margin-left: 10px;
      height: 12px;
      width: 7px;
      left: 200px;
      top: 13px;
      border-radius: 0px;
   }
}

.section-page-sections {
   &__section{
      text-decoration: none;
      color:black;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px;
      left: 0%;
      right: 0%;
      top: 14.94%;
      bottom: 82.68%;
      border-bottom: 1px solid $fog;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: $black;
      text-align: left;
   }
}




// article page styles

.article {

   &__img {
      width:100%;
      height:auto
   }
   
   &__back {
      display:flex;
      color:white;
      text-decoration: none;
      background-color: $unicef;
      padding: 15px 20px;
   }

   &__back--image1 {
      margin-right: 6px;
   }
}



.article-content {
   padding: 0px 12px;
   font-family: Poppins;

   img {
      width:100%;
      height:auto
   }

   h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      margin-bottom: 16px;
   }

   p {
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 16px;
      color:$dark;
   }

   video, audio {
      margin:10px 0px;
      width:100%;
      height:auto
}

   &__chat-btn {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      border: 1px solid $black;
      background-color: white;
      border-radius: 8px;
      width: 100%;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 16px;
      color: $black;
      text-decoration: none;
   }

   @include sm {
      padding: 0px 22px;
      
      h1 {
         font-size: 24px;
         line-height: 28px;
         margin-bottom: 24px;
      }
   
      p {
         font-size: 16px;
         line-height: 24px;
      }
   
      &__chat-btn {
         font-size: 16px;
         line-height: 22px;
         padding: 12px 16px;
      }
   }
}

.quiz-holder {
   margin:12px;
   margin-top: 32px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: inherit; 
    }

    p:first-of-type {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

   p {
      padding-right: 20px;
      margin: 0;
   }

   p:nth-of-type(2n) {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.01em;
   }

   &__quiz {
      width: 100%;
      margin: 16px;
      padding: 8px 12px;
      border-radius: 8px;
   }

   &__image {
      width: 12px;
      height: 12px;
   }
}



.article-navigation {
   display:flex;
   justify-content: space-between;
   padding-top: 12px;

   a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 12px;
      text-decoration: none;
      width: 105px;
      height: 32px;
      left: calc(50% - 156px/2 - 82px);
      border-radius: 18px;
   }

   &__button--previous{
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
line-height: 16px;
      color: $black;
      border: 1.5px solid $gray-light;
   }

   &__button--next {
      height: 22px;
      background-color: $black;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 16px;
      color: $white;
   }

   @include sm {
      display:flex;
      justify-content: space-between;
      padding-top: 24px;
   
      a {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         padding: 12px 16px;
         text-decoration: none;
         position: static;
         width: 132px;
         height: 46px;
         left: calc(50% - 156px/2 - 82px);
         top: 0px;
         box-sizing: border-box;
         border-radius: 24px;
      }
   
      &__button--previous{
         height: 22px;
         left: 43px;
         top: 12px;
         font-family: Poppins;
         font-style: normal;
         font-weight: 600;
         font-size: 16px;
         line-height: 22px;
         color: $black;
         border: 1.5px solid $gray-light;
      }
   
      &__button--next {
         height: 22px;
         left: 59.5px;
         top: 12px;
         background-color: black;
         font-style: normal;
         font-weight: 600;
         font-size: 16px;
         line-height: 22px;
         color: $white;
      }
   }
}


.related_reading {
   margin: 0px 12px;
   font-family: Poppins;
   font-style: normal;

   h2 {
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      color: $black;
   }

   ul {
      list-style: none;
      padding:0;

      p {
         width: 40%;
         font-family: Poppins;
         font-style: normal;
         font-weight: bold;
         margin-right: 5px;
         font-size: 10px;
         line-height: 16px;
         letter-spacing: 0.01em;
         color: $black;
      }
   }

   a {
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0px;
      border-bottom: 1px solid $fog;
      text-decoration: none;
      color:black;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: $black;
   }

   img {
      border-radius: 8px;
      width: 50%;
      height: auto;
   }

   &__img--sm {
      display:none
   }


@include sm {

   margin: 0px 20px;

   h2 {
      height: 28px;
      font-weight: 800;
      font-size: 24px;
      line-height: 28px;
      color: $black;
   }

   ul {
      p {
         width: 50%;
         font-size: 16px;
         margin-right: 5px;
         line-height: 24px;
         letter-spacing: 0.01em;
         color: $black;
      }
   }

   a {
      padding: 16px 0px;
      border-bottom: 1px solid $fog;
      text-decoration: none;
      color:black;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: $black;
   }

   &__img--xs {
      display:none
   }

   &__img--sm {
      display: block
   }
}
}



.comments { 
  padding-top: 12px;

  h2 {
   margin: 0;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 12px 9px;
   background: $pearl;
   font-size: 10px;
   line-height: 16px;
  }

  &__count {
   width: 16px;
   height: 16px;
   background: $black;
   font-family: Poppins;
   font-style: normal;
   font-weight: bold;
   font-size: 10px;
   line-height: 16px;
   letter-spacing: 0.01em;
   color: $white;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 10px;
  }

  &__form {
   background-color: $pearl;
  }

  &__loader {
   background-color: $unicef;
    }

  &__input-holder {
   display:flex;
   background-color: $pearl;
   
   }

   &__login {
      background-color: $pearl;
      font-size: 10px;
      line-height: 16px;
      padding: 12px;

      p {
         margin-top: 0;
      }
   }

  &__submit {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 12px 16px;
   background-color: $black;
   border-radius: 24px;
   margin-bottom: 10px;
   width: 100%;
   
   input, a { 
      text-decoration: none;
      background-color: $black;
      color:white;
      border:none;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 16px;
      color: $white;
   }

  
}

@include sm {
   padding-top: 40px;

  h2 {
   padding: 20px;
   font-size: 16px;
   line-height: 22px;
  }

  &__count {
   width: 30px;
   height: 30px;
   font-size: 12px;
   line-height: 16px;
   margin-left: 10px;
  }
  

   &__login {
      padding: 20px;
      font-size: 16px;
      line-height: 24px;
   }

  &__submit {
   padding: 12px 16px;
   margin: 16px 0px;
   
   input, a { 
      font-size: 16px;
      line-height: 22px;
   }
}

   }
}


.individual-comment {
   margin-top: 1px;
   padding: 12px;
   background: $pearl;

   span {
      display: flex;

      p {
         font-family: Poppins;
         font-style: normal;
         font-weight: 500;
         font-size: 16px;
         line-height: 20px;
         color: $dark;
         display: flex;
         align-items: center;
         margin:0;
      }

      p:first-of-type {
         color:white;
          width: 32px;
          margin-right: 8px;
          height: 32px;
          border-radius: 50%;
          background-color: $unicef;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      p:nth-of-type(2n) {
         font-family: Poppins;
         font-style: normal;
         font-weight: bold;
         font-size: 10px;
         line-height: 16px;
         letter-spacing: 0.01em;
         color: $black;
      }
   }

 

   &__data {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__date {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 16px;
      color:$dark;
      opacity: 0.4;
   }

   .content, &__moderator {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 16px;
      color: $black;
   }

   .report-comment {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: $black;
      text-decoration: none;
      padding-top: 12px;
   }

  
   @include sm {
      padding: 20px;
   
      span {
     
   
         p {
            font-size: 16px;
            line-height: 24px;
            margin:0;
         }
   
         p:first-of-type {
             width: 32px;
             margin-right: 8px;
             height: 32px;
             border-radius: 50%;
         }
   
         p:nth-of-type(2n) {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.01em;
         }
      }
   
      &__date {
         font-size: 12px;
         line-height: 12px;
      }

      .content, &__moderator {
         font-size: 16px;
         line-height: 24px;
      }
   
      .report-comment {
         font-size: 14px;
         line-height: 20px;
      }
   }
}


.article-page-details { 
   color: $white;
   display:flex;
   padding-bottom: 22.55px;
   padding-top: 24px;
   width:100%;
   height:auto;

   &__back {
      color:white;
      text-decoration: none;
      width: 67px;
      height: 24px;
      margin-left: 12px;
      top: 56px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 30px;
      display:flex;
      justify-content: center;
      align-items: center;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $white;

      &--image1 {
         height: 12px;
         width: 8px;
         left: 18px;
         top: 6px;
         margin-right: 10px;
         border-radius: 0px;
      }
   }

   &__title{
      width: 111px;
      height: 28px;
      padding-left: 20px;
      top: 223.45px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 28px;
   }

   &__survey {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
      color:$black;
      padding: 8px 12px;
      margin: 0% 5%;
      top: 72.78%;
      bottom: 7.1%;
      background: $white;
      border-radius: 30px;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.01em;
      text-align: left;


      &--image1 {
         height: 22;
         width: 20px;
         left: 0px;
         top: 16.9847412109375px;
         border-radius: 0px;
         margin-right: 10px;
      }

      &--image2 {
         margin-left: 10px;
         height: 12px;
         width: 7px;
         left: 200px;
         top: 13px;
         border-radius: 0px;
      }
   }
}


.comment-holder {
   border: 1px solid $pearl;
   width: 100vw;
   background-color:$pearl;
}

.form-control {
   background-color:$white;
   width: 100%;
   min-height: 160px;
   border: 1px solid $fog;
   box-sizing: border-box;
   border-radius: 8px;
   padding:7px 12px;
   font-style: normal;
   font-size: 10px;
   line-height: 16px;
   font-weight: 500;
   letter-spacing: 0.01em;
   color:$gray;

   @include sm {
      font-size: 16px;
      line-height: 24px;
   }
}




.cache-banner {
   display: none;

   @include sm {
   display: flex;
   flex-direction: column;
   padding: 12px;
   padding-top: 8px;
   left: 0px;
   top: 0px;
   background-color: #E0F2FD;

   p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
   }

   p:nth-of-type(2n){
      font-weight: 700;
   }

   &__download {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px 12px;
      border: none;
      height: 26px;
      background: $unicef;
      border-radius: 8px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: $white;
   }

   &__close-holder {
      display: flex;
      justify-content: flex-end;

      &__button {
         padding: 0px 4px;
         background: $unicef;
         border: none;
         border-radius: 40px;
         height:20px;
         width: 20px;
         background-image: url("/static/icons/cancel.svg");
         background-repeat: no-repeat;
         border:none;
      }
   }
   }
}

// home page styling

.home-page {
  &__featured-content {
   padding: 0 22px;

   .related_reading {
      margin:0
   }
  }
}

.banner-holder {
   margin-top: 4px;
   padding: 0 4px;

   img {
      margin-bottom: 4px;
      width: 100vw;
      height: auto;
      border-radius: 12px;
   }

 @include sm {
   margin-top: 8px;
   margin-bottom: 20px;
   padding: 0px 12px;

   img {
      margin-bottom: 6px;
      width: 100vw;
      height: auto;
      border-radius: 12px;
   }
 }

}

// header styling

.xs-home-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:12px;

   &__search {
      height: 11px;
      width: 11px;
   }

   &__select {
      font-weight: 600;
      font-size: 10px;
      background-color: $gold;
      border:none;
      border-radius: 8px;
      font-family: Poppins;
      font-style: normal;
      color: $black;
      padding: 2px;
   }

   @include sm {
      display: none;
   } 
}

.sm-home-header {
   display: none;

      @include sm {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background:$white;
      border: 1px solid $fog;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding:12px;

      select {
         appearance: none;
         margin-right:10px;
         background: $gold;
         border:none;
         border-radius: 8px;
         font-family: Poppins;
         font-style: normal;
         font-weight: 600;
         font-size: 12px;
         line-height: 16px;
         color: $black;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         padding: 5px 12px;
         background-image: url("/static/icons/down.svg");
         background-repeat: no-repeat;
         background-position: 80px;
         background-size: 10px;
      }
   
      &__options {
         width:50vw;
         display: flex;
         justify-content: flex-end;

         select {
            appearance: none;
            margin-right:10px;
            background: $gold;
            border:none;
            border-radius: 8px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: $black;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 5px 12px;
            background-image: url("/static/icons/down.svg");
            background-repeat: no-repeat;
            background-position: 80px;
            background-size: 10px;
         }

         img {
            margin: 0;
            border-left: 1px solid $fog;
            padding: 5px 0;
            padding-left:10px;
         }
      }
   }
} 

 

// footer styles

.footer-main {
   margin-top: 20px;
}

.footer {
  border-top: 1px solid $fog;
  padding-left: 12px;
  padding-right: 12px;
 

  .sm-home-header {
     display: none;
  }

  select {
     margin: 0;
  }

  label, svg {
     display:flex;
     align-items: center;
  }

  svg {
     height: 10px;
  }

  &__form {
   margin-top: 25px;
   background: $pearl;
   border: 1px solid $fog;
   border-radius: 8px;
   padding: 8px;

   input {
      border:none;
      background: $pearl;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: $gray;
   }
  }

  &__copyright {
   font-weight: 500;
   font-size: 8px;
   line-height: 16px;
   text-align: center;
   color: $gray;
   padding-top: 12px;
  }

  @include sm {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 60px;
   
   .sm-home-header {
      display: flex;
      padding:0;
      padding-top: 22px;
      border:none;
   }

   &__form {
      margin-top: 35px;
      background: $pearl;
      border: 1px solid $fog;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 13px;
   
      input {
         width: 96%;
         border:none;
         padding-left: 13px;
         padding-left: 13px;
         font-weight: 500;
         font-size: 16px;
         line-height: 22px;
      }

      
     }
     &__copyright {
      font-weight: 500;
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      color: $gray;
      padding-top: 32px;
      padding-bottom: 80px;
     }
  }
}

// top level setion

.top-level, .bottom-level {
   margin-top: 12px;
   border-top: 1px solid $fog;
 

   &__section {
      display:flex;
      margin-top: 8px;
      padding: 9px 12px;
      border-radius: 8px;
     
      a {
         color:inherit;
         text-decoration: none;
         font-family: Poppins;
         font-style: normal;
         font-weight: bold;
         font-size: 10px;
         line-height: 16px;
         letter-spacing: 0.01em;
         padding-left: 10px;
      }
   }

   img {
      max-width: 16px;
   }

   @include sm {
      margin-top: 32px;
      padding-top: 12px;
      &__section {
         padding: 13px 12px;
         
         a {
            font-size: 16px;
            line-height: 22px;
         }
      }
   }
}



.bottom-level {
   &__section {
      background-color:$pearl;
   }

}


// sticky footer

.sticky {
   @include sm {
      position: fixed;
      bottom: 0px;
      width: 100vw;
      a { 
         text-decoration: none;
      }
   } 
}

.nav-bar {
   &__wrap {
      width: 100vw;
      display: flex;
      justify-content: space-around;
      background-color: $unicef;
 }
}

.nav-bar-item  {

   a {
      background-color:$unicef;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 8px 0;
      text-decoration: none;
      background-color: $unicef;
   }

   &__active {
      background-color:$unicef;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 8px 0;
      text-decoration: none;
      background-color: $unicef-accent;
      min-width: 33.33vw;
   }

   &__icon {
      width: 18px;
      height: 18px;
      left: calc(50% - 25.2px/2 + 0px);
      top: calc(50% - 24.82px/2 + 24.82px);

      img {
         max-width: 100%;
         max-height: 100%;
      }
   }

   &__title {
      color:$white;
      font-size: 8px;
      font-weight: 600;
      line-height: 20px;
      margin-top: 2px;
      text-align: center;
      width: 100%;
   }

  @include sm {
   &__icon {
      width: 25.2px;
      height: 24.82px;
   }

   &__title {
      font-size: 10px;
   }
  }

}




