.featured-content {
  margin: 0 12px;
  margin-top: 7px;
  margin-bottom: 19px;
  border-radius: 8px;
  padding: 13px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-content a {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: inherit;
  padding: 0px 10px;
  text-align: left;
}

.featured-content svg {
  stroke: currentColor;
}

@media only screen and (min-width: 360px) {
  .featured-content {
    margin: 0 20px;
    margin-top: 7px;
    margin-bottom: 19px;
    padding: 13px 12px;
  }
  .featured-content a {
    font-size: 16px;
    line-height: 22px;
  }
}

.sub-section {
  text-decoration: none;
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 12px;
  border-bottom: 1px solid #EFEFEF;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.01em;
  text-align: left;
}

@media only screen and (min-width: 360px) {
  .sub-section {
    padding: 8px 20px;
    font-size: 16px;
    line-height: 22px;
  }
}

.article__lead-img {
  width: 100%;
  height: auto;
}

.article__content {
  padding: 0px 12px;
  font-family: Poppins;
}

.article__content img, .article__content video, .article__content audio {
  width: 100%;
  height: auto;
}

.article__content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.article__content p {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}

.article__content__link-btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  border: 1px solid #303030;
  border-radius: 8px;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #303030;
  text-decoration: none;
}

@media only screen and (min-width: 360px) {
  .article__content {
    padding: 0px 22px;
  }
  .article__content h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .article__content p {
    font-size: 16px;
    line-height: 24px;
  }
  .article__content__link-btn {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 16px;
  }
}

.article__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
}

.article__navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  text-decoration: none;
  width: 105px;
  height: 32px;
  border-radius: 18px;
  margin-bottom: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
}

.article__navigation--previous {
  font-size: 10px;
  line-height: 16px;
  color: #303030;
  border: 1.5px solid #d8d8d8;
}

.article__navigation--next {
  height: 22px;
  background-color: #303030;
  font-size: 10px;
  line-height: 16px;
  color: #FFFFFF;
}

@media only screen and (min-width: 360px) {
  .article__navigation {
    padding-top: 24px;
  }
  .article__navigation a {
    padding: 12px 16px;
    width: 132px;
    height: 46px;
    border-radius: 24px;
  }
  .article__navigation--previous {
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    border: 1.5px solid #d8d8d8;
  }
  .article__navigation--next {
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
}

.questionnaire-components {
  margin: 40px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questionnaire-components a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: inherit;
}

.questionnaire-components p:first-of-type {
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
  text-transform: uppercase;
}

.questionnaire-components p {
  font-family: Poppins;
  font-style: normal;
  padding-right: 20px;
  margin: 0;
}

.questionnaire-components p:nth-of-type(2n) {
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.questionnaire-components__component {
  width: 100%;
  margin: 10px;
  padding: 8px 12px;
  border-radius: 8px;
}

.questionnaire-components svg {
  stroke: currentColor;
}

@media only screen and (min-width: 360px) {
  .questionnaire-components {
    margin: 0px 20px;
  }
  .questionnaire-components p:first-of-type {
    font-size: 12px;
    line-height: 16px;
  }
  .questionnaire-components p {
    padding-right: 20px;
    margin: 0;
  }
  .questionnaire-components p:nth-of-type(2n) {
    font-size: 16px;
    line-height: 22px;
  }
  .questionnaire-components__component {
    margin: 16px;
    padding: 8px 12px;
    border-radius: 8px;
  }
}

.related-articles {
  margin: 0px 12px;
  font-family: Poppins;
  font-style: normal;
}

.related-articles h2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
}

.related-articles ul {
  list-style: none;
  padding: 0;
}

.related-articles ul p {
  width: 40%;
  font-weight: bold;
  margin-right: 5px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.related-articles a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0px;
  border-bottom: 1px solid #EFEFEF;
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #303030;
}

.related-articles img {
  border-radius: 8px;
  width: 50%;
  height: auto;
}

.related-articles__img--sm {
  display: none;
}

@media only screen and (min-width: 360px) {
  .related-articles {
    margin: 0px 20px;
  }
  .related-articles h2 {
    height: 28px;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
  }
  .related-articles ul p {
    width: 50%;
    font-size: 16px;
    margin-right: 5px;
    line-height: 24px;
  }
  .related-articles a {
    padding: 16px 0px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #303030;
  }
  .related-articles__img--xs {
    display: none;
  }
  .related-articles__img--sm {
    display: block;
  }
}

.comments {
  font-family: Poppins;
  font-style: normal;
}

.comments h2 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  background: #F7F7F9;
  font-size: 10px;
  line-height: 16px;
}

.comments h3 {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

.comments__count {
  width: 16px;
  height: 16px;
  background: #303030;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.comments__form {
  background-color: #F7F7F9;
  padding: 0px 12px;
}

.comments__loader {
  background-color: #0094F4;
}

.comments__holder {
  border: 1px solid #F7F7F9;
  background-color: #F7F7F9;
  padding: 0px;
}

.comments__input-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F7F7F9;
}

.comments__login {
  background-color: #F7F7F9;
  font-size: 10px;
  line-height: 16px;
  padding: 12px;
}

.comments__login p {
  margin-top: 0;
}

.comments__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  background-color: #303030;
  border-radius: 24px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 16px 0px;
  width: 100%;
}

.comments__submit input, .comments__submit a {
  text-decoration: none;
  background-color: #303030;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #FFFFFF;
}

@media only screen and (min-width: 360px) {
  .comments {
    padding-top: 40px;
  }
  .comments h2 {
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .comments h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .comments__count {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
  }
  .comments__form {
    padding: 0px 20px;
  }
  .comments__login {
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
  }
  .comments__submit {
    padding: 12px 16px;
    margin: 16px 0px;
  }
  .comments__submit input, .comments__submit a {
    font-size: 16px;
    line-height: 22px;
  }
}

.individual-comment {
  margin-top: 1px;
  padding: 12px;
  background: #F7F7F9;
  font-family: Poppins;
  font-style: normal;
}

.individual-comment span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.individual-comment span p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4B4B4B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.individual-comment span p:first-of-type {
  color: white;
  width: 32px;
  margin-right: 8px;
  height: 32px;
  border-radius: 50%;
  background-color: #0094F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.individual-comment span p:nth-of-type(2n) {
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #303030;
}

.individual-comment__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.individual-comment__date {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #4B4B4B;
  opacity: 0.4;
}

.individual-comment .content, .individual-comment__moderator {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #303030;
}

.individual-comment .content {
  margin-bottom: 20px;
}

.individual-comment .report-comment {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #303030;
  text-decoration: none;
}

.individual-comment .report-comment__normal-device {
  display: none;
}

.individual-comment .report-comment__feature-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #303030;
  text-decoration: none;
}

@media only screen and (min-width: 360px) {
  .individual-comment {
    padding: 20px;
  }
  .individual-comment span p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
  .individual-comment span p:first-of-type {
    width: 32px;
    margin-right: 8px;
    height: 32px;
    border-radius: 50%;
  }
  .individual-comment span p:nth-of-type(2n) {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
  }
  .individual-comment__date {
    font-size: 12px;
    line-height: 12px;
  }
  .individual-comment .content, .individual-comment__moderator {
    font-size: 16px;
    line-height: 24px;
  }
  .individual-comment .report-comment {
    font-size: 14px;
    line-height: 20px;
  }
  .individual-comment .report-comment__normal-device {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #303030;
    text-decoration: none;
  }
  .individual-comment .report-comment__feature-phone {
    display: none;
  }
}

.form-control {
  background-color: #FFFFFF;
  width: 100%;
  min-height: 160px;
  border: 1px solid #EFEFEF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 7px 12px;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #9a9a9a;
}

@media only screen and (min-width: 360px) {
  .form-control {
    font-size: 16px;
    line-height: 24px;
  }
}

.cache-banner {
  display: none;
}

@media only screen and (min-width: 360px) {
  .cache-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px;
    padding-top: 8px;
    left: 0px;
    top: 0px;
    background-color: #E0F2FD;
  }
  .cache-banner p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .cache-banner p:nth-of-type(2n) {
    font-weight: 700;
  }
  .cache-banner__download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 12px;
    border: none;
    height: 26px;
    background: #0094F4;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
  }
  .cache-banner__close-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .cache-banner__close-holder__button {
    padding: 0px 4px;
    background: #0094F4;
    border: none;
    border-radius: 40px;
    height: 20px;
    width: 20px;
    background-image: url("/static/icons/cancel.svg");
    background-repeat: no-repeat;
    border: none;
  }
}

.home-page__featured-content {
  padding: 0 22px;
}

.home-page__featured-content .related-articles {
  margin: 0;
}

.banner-holder {
  margin-top: 4px;
  padding: 0 4px;
}

.banner-holder img {
  margin-bottom: 4px;
  width: 100vw;
  height: auto;
  border-radius: 12px;
}

@media only screen and (min-width: 360px) {
  .banner-holder {
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 0px 12px;
  }
  .banner-holder img {
    margin-bottom: 6px;
    width: 100vw;
    height: auto;
    border-radius: 12px;
  }
}

.xs-home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
  border: 1px solid #EFEFEF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.xs-home-header__search {
  height: 11px;
  width: 11px;
}

.xs-home-header__select {
  font-weight: 600;
  font-size: 10px;
  background-color: #FDD256;
  border: none;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  color: #303030;
  padding: 2px;
}

@media only screen and (min-width: 360px) {
  .xs-home-header {
    display: none;
  }
}

.sm-home-header {
  display: none;
}

@media only screen and (min-width: 360px) {
  .sm-home-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 11px 20px;
  }
  .sm-home-header select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    margin-right: 10px;
    background: #FDD256;
    border: none;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #303030;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 12px;
    background-image: url("/static/icons/down.svg");
    background-repeat: no-repeat;
    background-position: 80px;
    background-size: 10px;
  }
  .sm-home-header__options {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .sm-home-header__options select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    margin-right: 10px;
    background: #FDD256;
    border: none;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #303030;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 12px;
    background-image: url("/static/icons/down.svg");
    background-repeat: no-repeat;
    background-position: 80px;
    background-size: 10px;
  }
  .sm-home-header__options img {
    margin: 0;
    border-left: 1px solid #EFEFEF;
    padding: 5px 0;
    padding-left: 10px;
  }
}

.footer-main {
  margin-top: 20px;
}

.footer {
  border-top: 1px solid #EFEFEF;
  padding-left: 12px;
  padding-right: 12px;
}

.footer .sm-home-header {
  display: none;
}

.footer select {
  margin: 0;
}

.footer label, .footer svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer svg {
  height: 10px;
}

.footer__form {
  margin-top: 25px;
  background: #F7F7F9;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  padding: 8px;
}

.footer__form input {
  border: none;
  background: #F7F7F9;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #9a9a9a;
}

.footer__copyright {
  font-weight: 500;
  font-size: 8px;
  line-height: 16px;
  text-align: center;
  color: #9a9a9a;
  padding-top: 12px;
}

@media only screen and (min-width: 360px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
  }
  .footer .sm-home-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    padding-top: 22px;
    border: none;
  }
  .footer__form {
    margin-top: 35px;
    border-radius: 8px;
    padding: 13px;
  }
  .footer__form input {
    width: 96%;
    border: none;
    padding-left: 13px;
    padding-left: 13px;
    font-size: 16px;
    line-height: 22px;
  }
  .footer__copyright {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    padding-top: 32px;
    padding-bottom: 80px;
  }
}

.top-level, .bottom-level {
  margin-top: 12px;
  border-top: 1px solid #EFEFEF;
  font-family: Poppins;
  font-style: normal;
}

.top-level__section, .bottom-level__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  padding: 9px 12px;
  border-radius: 8px;
}

.top-level__section a, .bottom-level__section a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding-left: 10px;
}

.top-level img, .bottom-level img {
  max-width: 16px;
}

@media only screen and (min-width: 360px) {
  .top-level, .bottom-level {
    margin-top: 32px;
    padding-top: 12px;
  }
  .top-level__section, .bottom-level__section {
    padding: 13px 12px;
  }
  .top-level__section a, .bottom-level__section a {
    font-size: 16px;
    line-height: 22px;
  }
}

.bottom-level__section {
  background-color: #F7F7F9;
}

.nav-bar__wrap {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #0094F4;
}

@media only screen and (min-width: 360px) {
  .nav-bar {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    z-index: 99;
  }
  .nav-bar a {
    text-decoration: none;
  }
}

.nav-bar__item a {
  background-color: #0094F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
  text-decoration: none;
  background-color: #0094F4;
}

.nav-bar__item__icon {
  width: 18px;
  height: 18px;
}

.nav-bar__item__icon img {
  max-width: 100%;
  max-height: 100%;
}

.nav-bar__item__title {
  color: #FFFFFF;
  font-size: 8px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 2px;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 360px) {
  .nav-bar__item__icon {
    width: 25.2px;
    height: 24.82px;
  }
  .nav-bar__item__title {
    font-size: 10px;
  }
}

.report-page {
  padding: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}

.report-page__comment {
  font-weight: 600;
}

.report-page__submit {
  border: 1px solid #303030;
  background-color: #FFFFFF;
  margin-right: 10px;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}

.report-page h3 {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

.report-page a {
  color: #303030;
}

@media only screen and (min-width: 360px) {
  .report-page {
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
  }
  .report-page__comment {
    font-weight: 600;
  }
  .report-page__submit {
    font-size: 16px;
    line-height: 24px;
  }
  .report-page h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
  }
  .report-page a {
    color: #303030;
  }
}
/*# sourceMappingURL=sectionStyles.css.map */