.section-page-details {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 22.55px;
  padding-top: 24px;
  min-height: 196px;
}

.section-page-details__back {
  padding: 10px 0;
  color: white;
  text-decoration: none;
  width: 67px;
  height: 24px;
  margin-left: 12px;
  top: 56px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-page-details__back--image1 {
  height: 12px;
  width: 8px;
  left: 18px;
  top: 6px;
  margin-right: 10px;
  border-radius: 0px;
}

.section-page-details__title {
  width: 111px;
  height: 28px;
  padding-left: 20px;
  top: 223.45px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
}

.section-page-details__survey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  color: #303030;
  padding: 8px 12px;
  margin: 0% 5%;
  padding-bottom: 22.5px;
  top: 72.78%;
  bottom: 7.1%;
  border-radius: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
}

.section-page-details__survey--image1 {
  height: 22;
  width: 20px;
  left: 0px;
  top: 16.9847412109375px;
  border-radius: 0px;
  margin-right: 10px;
}

.section-page-details__survey--image2 {
  margin-left: 10px;
  height: 12px;
  width: 7px;
  left: 200px;
  top: 13px;
  border-radius: 0px;
}

.featured-content {
  margin: 0 12px;
  margin-top: 7px;
  margin-bottom: 19px;
  border-radius: 8px;
  padding: 13px 12px;
}

.featured-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #303030;
}

.featured-content--image1 {
  height: 22;
  width: 20px;
  left: 0px;
  top: 16.9847412109375px;
  border-radius: 0px;
  margin-right: 10px;
}

.featured-content--image2 {
  margin-left: 10px;
  height: 12px;
  width: 7px;
  left: 200px;
  top: 13px;
  border-radius: 0px;
}

.section-page-sections__section {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 12px;
  left: 0%;
  right: 0%;
  top: 14.94%;
  bottom: 82.68%;
  border-bottom: 1px solid #EFEFEF;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #303030;
  text-align: left;
}

.questionnaire {
  width: 232px;
  height: 186px;
  left: 0px;
  top: 0px;
  background-color: red;
  border-radius: 8px;
  margin: 24px 0;
}

.questionnaire__title {
  width: 139px;
  height: 40px;
  padding-left: 14px;
  top: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.questionnaire__CTA {
  width: 200px;
  height: 64px;
  padding-left: 16px;
  top: 62px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #FFFFFF;
}

.questionnaire .button__white {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 28px;
  margin-left: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  border: none;
  background-color: #FFFFFF;
  color: black;
}

.article__img {
  width: 100%;
  height: auto;
}

.article__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-decoration: none;
  background-color: #0094F4;
  padding: 15px 20px;
}

.article__back--image1 {
  margin-right: 6px;
}

.article-content {
  padding: 0px 22px;
  font-family: Poppins;
}

.article-content img {
  width: 100%;
  height: auto;
}

.article-content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #303030;
  margin-bottom: 24px;
}

.article-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4B4B4B;
}

.article-content video, .article-content audio {
  margin: 10px 0px;
  width: 100%;
  height: auto;
}

.article-content__chat-btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  height: 46px;
  border: 1px solid #303030;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  left: 106.5px;
  top: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #303030;
  text-decoration: none;
}

.quiz-holder {
  margin: 12px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz-holder a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: inherit;
}

.quiz-holder p:first-of-type {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.quiz-holder p {
  padding-right: 20px;
  margin: 0;
}

.quiz-holder p:nth-of-type(2n) {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.quiz-holder__quiz {
  width: 100%;
  margin: 16px;
  padding: 8px 12px;
  border-radius: 8px;
}

.quiz-holder__image {
  width: 12px;
  height: 12px;
}

.article-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
}

.article-navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  position: static;
  width: 132px;
  height: 46px;
  left: calc(50% - 156px/2 - 82px);
  top: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
}

.article-navigation__button--previous {
  height: 22px;
  left: 43px;
  top: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #303030;
  border: 1.5px solid #D8D8D8;
}

.article-navigation__button--next {
  height: 22px;
  left: 59.5px;
  top: 12px;
  background-color: black;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.related_reading {
  margin: 0px 20px;
  font-family: Poppins;
  font-style: normal;
}

.related_reading h2 {
  height: 28px;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #303030;
}

.related_reading ul {
  list-style: none;
  padding: 0;
}

.related_reading ul p {
  width: 50%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #303030;
}

.related_reading a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0px;
  border-bottom: 1px solid #EFEFEF;
  text-decoration: none;
  color: black;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #303030;
}

.related_reading img {
  border-radius: 8px;
  width: 45%;
  height: auto;
}

.comments {
  padding-top: 40px;
}

.comments h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 62px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: #F7F7F9;
  margin-bottom: 0;
}

.comments__count {
  width: 30px;
  height: 30px;
  background: #303030;
  left: calc(50% - 16px/2);
  top: calc(50% - 16px/2);
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.comments__form {
  width: 320px;
  background-color: #F7F7F9;
}

.comments__loader {
  background-color: #0094F4;
}

.comments__input-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding-left: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #F7F7F9;
}

.comments__login {
  background-color: #F7F7F9;
  padding: 20px;
}

.comments__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  position: static;
  width: 280px;
  height: 46px;
  left: calc(50% - 320px/2);
  top: 196px;
  background-color: #303030;
  border-radius: 24px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 16px 0px;
}

.comments__submit input, .comments__submit a {
  text-decoration: none;
  background-color: #303030;
  color: white;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.comments__load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  position: static;
  width: 280px;
  height: 46px;
  left: calc(50% - 320px/2);
  top: 196px;
  background-color: #F7F7F9;
  border: 1px solid #303030;
  border-radius: 24px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 16px 0px;
}

.comments__load button {
  background-color: #F7F7F9;
  color: #303030;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.individual-comment {
  margin-top: 1px;
  padding: 20px;
  position: static;
  left: 0px;
  background: #F7F7F9;
}

.individual-comment span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.individual-comment span p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4B4B4B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.individual-comment span p:first-of-type {
  color: white;
  width: 32px;
  margin-right: 8px;
  height: 32px;
  border-radius: 50%;
  background-color: #0094F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.individual-comment span p:nth-of-type(2n) {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #303030;
}

.individual-comment__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.individual-comment__date {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #4B4B4B;
  opacity: 0.4;
}

.article-page-details {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 22.55px;
  padding-top: 24px;
  width: 100%;
  height: auto;
}

.article-page-details__back {
  color: white;
  text-decoration: none;
  width: 67px;
  height: 24px;
  margin-left: 12px;
  top: 56px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.article-page-details__back--image1 {
  height: 12px;
  width: 8px;
  left: 18px;
  top: 6px;
  margin-right: 10px;
  border-radius: 0px;
}

.article-page-details__title {
  width: 111px;
  height: 28px;
  padding-left: 20px;
  top: 223.45px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
}

.article-page-details__survey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  color: #303030;
  padding: 8px 12px;
  margin: 0% 5%;
  top: 72.78%;
  bottom: 7.1%;
  background: #FFFFFF;
  border-radius: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
}

.article-page-details__survey--image1 {
  height: 22;
  width: 20px;
  left: 0px;
  top: 16.9847412109375px;
  border-radius: 0px;
  margin-right: 10px;
}

.article-page-details__survey--image2 {
  margin-left: 10px;
  height: 12px;
  width: 7px;
  left: 200px;
  top: 13px;
  border-radius: 0px;
}

.comment-holder {
  border: 1px solid #F7F7F9;
  width: 100vw;
  background-color: #F7F7F9;
}

.form-control {
  background-color: #FFFFFF;
  width: 100%;
  min-height: 160px;
  border: 1px solid #EFEFEF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 7px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #9A9A9A;
}

.content {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4B4B4B;
}

.report-comment {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  text-decoration: none;
  padding-top: 12px;
}

.cache-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  padding-top: 8px;
  left: 0px;
  top: 0px;
  background-color: #E0F2FD;
}

.cache-banner p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.cache-banner p:nth-of-type(2n) {
  font-weight: 700;
}

.cache-banner__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px;
  border: none;
  height: 26px;
  background: #0094F4;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.cache-banner__close-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cache-banner__close-holder__button {
  padding: 0px 4px;
  background: #0094F4;
  border: none;
  border-radius: 40px;
  height: 20px;
  width: 20px;
  background-image: url("/static/icons/cancel.svg");
  background-repeat: no-repeat;
  border: none;
}

.home-page__featured-content {
  padding: 0 8px;
  width: 100%;
}

.home-page__featured-content .related_reading {
  margin: 0;
}

.banner-holder {
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 0 12px;
}

.banner-holder img {
  margin-bottom: 6px;
  width: 100vw;
  height: auto;
  border-radius: 12px;
}

.home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 12px;
}

.home-header__options {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home-header__options select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 10px;
  background: #FDD256;
  border: none;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px;
  background-image: url("/static/icons/down.svg");
  background-repeat: no-repeat;
  background-position: 80px;
  background-size: 10px;
}

.home-header__options img {
  margin: 0;
  border-left: 1px solid #EFEFEF;
  padding: 5px 0;
  padding-left: 10px;
}

.footer {
  margin-top: 60px;
  border-top: 1px solid #EFEFEF;
}

.footer .home-header {
  padding: 0;
  padding-top: 22px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
}

.footer select {
  margin: 0;
}

.footer label, .footer svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  color: #9A9A9A;
}

.footer__form {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 35px;
  left: 20px;
  top: 92px;
  background: #F7F7F9;
  border: 1px solid #EFEFEF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 14.75px;
}

.footer__form input {
  width: 96%;
  border: none;
  background: #F7F7F9;
  padding-left: 14.58px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #9A9A9A;
}

.top-level, .bottom-level {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 32px;
  border-top: 1px solid #EFEFEF;
  padding-top: 16px;
}

.top-level__section, .bottom-level__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  padding: 13px 12px;
  border-radius: 8px;
}

.top-level__section a, .bottom-level__section a {
  color: inherit;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  padding-left: 10px;
}

.bottom-level__section {
  background-color: #F7F7F9;
}

.sticky-footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

.nav-bar {
  background-color: #0094f4;
}

.nav-bar__wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar__item {
  width: 25%;
}

.nav-bar-item a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0094f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
  text-decoration: none;
}

.nav-bar-item.active a {
  background-color: #0070e2;
}

.nav-bar-item__icon {
  display: block;
  height: 20px;
  width: 20px;
}

.nav-bar-item__icon img {
  max-width: 100%;
  max-height: 100%;
}

.nav-bar-item__title {
  color: #fff;
  font-size: 8px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 2px;
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=sectionStyles.css.map */
