{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags static %}
{% block titletag %}{% trans "Form Data" %}{% endblock %}
{% block extra_js %}
    {{ block.super }}

    <script>
        $.fn.datetimepicker.defaults.i18n.wagtail_custom_locale = {
            months: wagtailConfig.STRINGS.MONTHS,
            dayOfWeek: wagtailConfig.STRINGS.WEEKDAYS,
            dayOfWeekShort: wagtailConfig.STRINGS.WEEKDAYS_SHORT,
        }
        $.datetimepicker.setLocale('wagtail_custom_locale');

        $(function() {
            $('#id_date_from').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
            });
            $('#id_date_to').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
            });
            $('#download-xlsx,#download-csv').click(e => {
                let pageIds = []
                $(':checked').each((index, box) => {
                    pageIds.push(box.id);
                });
                if (pageIds.length > 0) {
                    const downloadBtn = $(e.target);
                    const href = downloadBtn.attr('href');
                    downloadBtn.attr('href', href + `&page_ids=${pageIds.join(',')}`);
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <header class="nice-padding">
        <form action="" method="get" novalidate>
            {% if user_id %}
                <input type="hidden" name="user_id" value="{{ user_id }}">
            {% endif %}
            <div class="row">
                <div class="left">
                    <div class="col header-title">
                        <h1>
                          {% icon name="form" class_name="header-title-icon" %}
                          {% trans "Form Data" %}
                        </h1>
                    </div>
                    <div class="col search-bar">
                        <ul class="fields row rowflush">
                            {% for field in select_date_form %}
                                {% include "wagtailadmin/shared/field_as_li.html" with field=field field_classes="field-small" li_classes="col4" %}
                            {% endfor %}
                            <li class="submit col2">
                                <button name="action" value="filter" class="button button-filter">{% trans 'Filter' %}</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="dropdown dropdown-button match-width">
                        <a id="download-xlsx" href="{{ request.get_full_path }}&export=xlsx" class="button bicolor button--icon">{% icon name="download" wrapped=1 %}{% trans 'Download Form Data (XLSX)' %}</a>
                        <div class="dropdown-toggle">{% icon name="arrow-down" %}</div>
                        <ul>
                            <li><a id="download-csv" class="button bicolor button--icon" href="{{ request.get_full_path }}&export=csv">{% icon name="download" wrapped=1 %}{% trans 'Download Form Data (CSV)' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
        <span class="warning">
            <span class="svg-wrapper">
                <img src='{% static "icons/warning.svg" %}' />
            </span>
            In 3 months, the format of form data files in XLSX and CSV will be altered and updated with the
            implementation of experimental form data.
        </span>
    </header>
    <div class="nice-padding">
        <div id="form-results" class="forms">
            {% include "questionnaires/results_forms.html" %}
        </div>
    </div>
{% endblock %}
