{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load i18n %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {{ form.non_field_errors }}
    <div>
        <p>{{ page.description }}</p>
        <hr>
        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <div>
                <input type="submit" value="{% trans page.submit_button_text %}"/>
            </div>
        </form>
    </div>
{% endblock content %}
