{% extends "base.html" %}
{% load questionnaires_tags %}
{% load static wagtailimages_tags i18n %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/polls.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/questionnaire.css' %}">
{% endblock %}

{% block content %}
    <div class="polls">
        <div class="polls-widget">
            <div class="container">
                <div class="polls-widget__wrap">
                    <h1 class="title">{{ page.title }}</h1>
                    <div class="polls-widget__form">
                        {% if page.thank_you_text %}
                            <div class="polls-widget__description">{{ page.thank_you_text }}</div>
                        {% endif %}
                        {% if page.show_results %}
                            {% for answer, count, is_selected in results %}
                                <div class="cust-check cust-check--white polls-widget__item{% if is_selected %} cust-check--active{% endif %}">
                                    <div class="cust-check__title">
                                        <div class="cust-check__title-left">
                                            <span>{{ answer }}</span>
                                                {% if is_selected %}
                                                    <span class="cust-check__subtitle">{% translate "Your answer" %}</span>
                                                {% endif %}
                                        </div>
                                        <div class="cust-check__title-right">
                                            <span class="cust-check__percent">{{ count }}
                                                {% if result_as_percentage %}%{% endif %}</span>
                                        </div>
                                        <div class="cust-check__percent-item"
                                             style="width: {{ count }}%"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% include 'questionnaires/tags/poll_survey_buttons.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
