{% extends "base.html" %}
{% load static i18n wagtailcore_tags questionnaires_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/polls.css' %}">
{% endblock %}

{% block content %}
    {% include 'back_button.html' with back_url=back_url %}
    <div class="polls">
        <div class="polls-widget">
            <div class="container">
                <div class="polls-widget__wrap">
                    <h1 class="title polls-widget__title">{% trans page.title %}</h1>
                    {% if page.description %}
                        <div class="polls-widget__description">{{ page.description }}</div>{% endif %}
                    <form class="polls-widget__form"
                          action="{% pageurl page %}?back_url={{ request.path }}"
                          method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            {% field_description field %}
                            {% render_fields field "poll"%}
                        {% endfor %}
                       {% render_submit_button fields_step page %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
