// variables
$unicef: #0094F4;
$unicef-accent: #0070E2;
$red: #EE3851;
$red-light: #FDEBEE;
$blue: #1DAEEC;
$blue-light: #E8F8FD;
$violet: #8B5CD6;
$violet-light: #F3EFFB;
$green: #1A9090;
$green-light:#E7F4F4;
$black:#303030;
$dark:#4B4B4B;
$gray:#9a9a9a;
$gray-light:#d8d8d8 ;
$fog:#EFEFEF;
$pearl:#F7F7F9;
$gold:#FDD256;
$correct:#71C083;
$alert:#FB3D24;
$white: #FFFFFF;

@mixin theme{
  background: yellow
}


// Layout mixins


@mixin sm {
    @media only screen and (min-width: 360px) and (max-width: 768px) { @content; }
}


// @mixin for-tablet-portrait-up {
// @media (min-width: 600px) { @content; }
// }
// @mixin for-tablet-landscape-up {
// @media (min-width: 900px) { @content; }
// }
// @mixin for-desktop-up {
// @media (min-width: 1200px) { @content; }
// }
// @mixin for-big-desktop-up {
// @media (min-width: 1800px) { @content; }
// }

