{% extends "wagtailadmin/generic/index.html" %}
{% load i18n wagtailadmin_tags wagtailcore_tags static %}


{% block content %}
    {% trans "Forms" as page_title %}

    <div class="page-header">
        <h1>{% trans "Forms" %}</h1>
    </div>

    <div class="page-content">
        {% if form_pages %}
            <table class="listing full-width">
                <thead>
                    <tr>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Parent" %}</th>
                        <th>{% trans "Origin" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Action" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fp in form_pages %}
                        <tr>
                            <td>
                                <a href="{% url 'wagtailforms:list_submissions' fp.id %}">
                                    {{ fp.title }}
                                </a>
                            </td>
                            <td>
                                {% if fp.get_parent %}
                                    <a href="{% url 'wagtailadmin_pages:edit' fp.get_parent.id %}">
                                        {{ fp.get_parent.title }}
                                    </a>
                                {% else %}
                                    —
                                {% endif %}
                            </td>
                            <td class="type">
                                <small>
                                    <a href="{% url 'wagtailadmin_pages:edit' fp.id %}" class="nolink">
                                        {{ fp.content_type.name|capfirst }} ({{ fp.content_type.app_label }}.{{ fp.content_type.model }})
                                    </a>
                                </small>
                            </td>
                            <td>
                                {% if fp.live %}
                                    <span class="status-tag status-tag--live">{% trans "LIVE" %}</span>
                                {% else %}
                                    <span class="status-tag">{% trans "Draft" %}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'generate_dashboard' fp.id %}" class="button">
                                    {% trans "Generate Dashboard" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="no-forms">
                <p>{% trans "No forms found." %}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
