@import "../../../../styles//mixins";

.home-page {
    &__featured-content {
      padding: 0 22px;
  
      .related-articles {
        margin: 0;
      }
    }
  }
  
  .banner-holder {
    margin-top: 4px;
    padding: 0 4px;
  
    img {
      margin-bottom: 4px;
      width: 100vw;
      height: auto;
      border-radius: 12px;
    }
  
    @include sm {
      margin-top: 8px;
      margin-bottom: 20px;
      padding: 0px 12px;
  
      img {
        margin-bottom: 6px;
        width: 100vw;
        height: auto;
        border-radius: 12px;
      }
    }
  }