{% load i18n %}
{% load comments %}
{% load comments_xtd %}
{% load humanize %}
{% load comment_tags %}

<div class="comments-holder">
    {# Remove the line below to enable showing removed comments https://github.com/unicef/iogt/issues/531 #}
    {% filter_removed_comments comments as filtered_comments %}
    {% get_comments_page filtered_comments request as comments_page %}
    {% for item in comments_page %}
        <div class="individual-comment">
            <a name="c{{ item.comment.id }}"></a>
            <div>
                <div class='individual-comment__data'>
                    <span>
                        {% if item.comment.user_name|lower == 'anonymous' %}
                            <p>A</p>
                            <p>{% translate "Anonymous" %}</p>
                        {% else %}
                            <p>{{ item.comment.user.get_display_name.0|capfirst }}</p>
                            <p>{{ item.comment.user.get_display_name }}</p>
                        {% endif %}
                    </span>
                    <p class='individual-comment__date'>{{ item.comment.submit_date|naturaltime }}</p>
                </div>
                {% if item.comment.url and not item.comment.is_removed %}
                    <a href="{{ item.comment.url }}" target="_new">
                {% endif %}
                {% if item.comment.url %}</a>{% endif %}
                {% if item.comment.user_name|lower != 'anonymous' and item.comment.user and item.comment.user|has_permission:"django_comments_xtd.can_moderate" %}
                    &nbsp;<span class='individual-comment__moderator'>{% translate "moderator" %}</span>{% endif %}
                &nbsp;&nbsp;
                <span>
            </span>
                {% if item.comment.is_removed %}
                    <p class="text-muted{% if not allow_feedback and not item.comment.allow_thread %} pb-3{% endif %}">
                        <em>{% translate "This comment has been removed." %}</em></p>
                {% else %}
                    <div class="{% if not allow_feedback and not item.comment.allow_thread %} pb-3{% endif %}">
                        {% include "includes/django_comments_xtd/comment_content.html" with content=item.comment.comment %}
                    </div>
                {% endif %}
                {% if allow_feedback %}
                    {% include "django_comments_xtd/user_feedback.html" %}
                {% endif %}


                {% if not item.comment.is_removed %}
                    {% user_can_report item.comment user as can_report %}
                    {% if can_report %}
                        <a href="{% url 'comments-flag' item.comment.pk %}" class="report-comment">
                            {% translate "Report" %}
                        </a>
                    {% endif %}
                    {% if item.comment.allow_thread and not item.comment.is_removed %}
                        <a class="small mutedlink reply-link"
                           href="{{ item.comment.get_reply_url }}">{% translate "Reply" %}</a>
                    {% endif %}
                    {% if perms.django_comments_xtd.delete_xtdcomment %}
                        <a class="small mutedlink reply-link text-danger"
                           href="{% url 'wagtail_comments_xtd_publication' item.comment.pk 'hide' %}">
                            {% translate 'Remove' %}</a>
                    {% endif %}

                    {% if allow_flagging and item.flagged and item.comment.user != user %}


                        <i title="{% translate 'Comment flagged' %}"
                           class='report-comment__disclaimer'>{% translate "This comment has been reported." %} </i>

                    {% endif %}

                    {% if perms.django_comments_xtd.can_moderate %}
                        {% comment %}
                        Had to replace items.flagged_count with item.comment.flags.count because django_comments_xtd
                        uses the django_comments.can_moderate permission to populate flags. This is a hack for
                        the original bug because we'd rather not fork it
                        {% endcomment %}
                        {% with flagged_count=item.comment.flags.count %}
                        {% if flagged_count %}
                            <span class="report-comment">
                                    {# Translators: Count refers to the number of people that reported a comment. #}
                                {% blocktranslate trimmed count count=flagged_count %}
                                    Reported by {{ count }} user
                                    {% plural %}
                                    Reported by {{ count }} users
                                {% endblocktranslate %}
                            </span>
                        {% endif %}
                        {% endwith %}
                    {% endif %}

                    <div class="comment__children">
                        {% if not item.comment.is_removed and item.children %}
                            {% render_xtdcomment_tree with comments=item.children %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% has_more_comments comments request as should_render_load_more %}
    {% if should_render_load_more %}
        <div class="load-more">
            {% get_next_num_records request as next_num_records %}
            <a href="{{ request.path }}?num_records={{ next_num_records }}">Load More comments</a>
        </div>
    {% endif %}
</div>