name: IoGT

on:
  push:
    branches:
      - develop
      - release/**
  pull_request:
    branches:
      - develop

jobs:

  django-unit-tests:
    runs-on: ubuntu-latest
    env:
      IOGT_TEST_PARALLEL: "2"
    steps:
      - uses: actions/checkout@v4
      - run: make test

  selenium-tests:
    runs-on: ubuntu-latest
    env:
      IOGT_TEST_PARALLEL: "1"
    steps:
      - uses: actions/checkout@v4
      - run: make selenium-test
